{% extends "layout.html" %}

{% block pageTitle %}

  Ineligible :: Teachers' Student Loan Reimbursement

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education",
        href: "#"
      },
      {
        text: "Funding",
        href: "#"
      },
      {
        text: "Student loans",
        href: "#"
      },
      {
        text: "Teachers' student loan reimbursement",
        href: "#"
      },
      {
        text: "Application complete"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Application complete
    </h1>
    <div class="govuk-panel__body">
      Your reference number
      <br><strong>TRN 1234567</strong>
    </div>
  </div>

  <h3 class="govuk-heading-m">What happens next</h3>
  <p class="govuk-body">
    We will now process your application and contact you to let you know if your application has been successful, this usually takes 4 weeks.
  </p>

{% endblock %}
