{% extends "layout.html" %}

{% block pageTitle %}

  Declaration :: Teachers' Student Loan Reimbursement

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="bank-details.html">Back</a>

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Declaration</h1>
  <p class="govuk-body">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>
  <p class="govuk-get-started group">
    <a class="govuk-button govuk-button-start" href="confirmation.html">Submit</a>
  </p>

{% endblock %}
