{% extends "layout.html" %}

{% block pageTitle %}

  Eligibility (QTS) :: Teachers' Student Loan Reimbursement

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="how-to-apply.html">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="eligibility-schools" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="qts-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Did you achieve qualified teacher status (QTS) in the academic years between 2013 and 2020?
              </h1>
            </legend>
            <span id="qts-hint" class="govuk-hint">
              This includes the academic years 2013-14, 2014-15, 2015-16, 2016-17, 2017-18 and 2018-19.
            </span>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qts-y" name="qts" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="qts-y">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qts-n" name="qts" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="qts-n">No</label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button">Next</button>
      </form>
    </div>
  </div>

{% endblock %}
