{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter teacher payments</h1>
      <p class="govuk-body-l">Teacher payments</p>

      <a href="admin-declaration" role="button" draggable="false" class="govuk-button">Continue</a>

    </div>

  </div>

{% endblock %}
