{% extends "layout.html" %}

{% block pageTitle %}
  Bank details :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="teacher-declaration" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="bank-hint">

            {% set payByBank %}

            <h2 class="govuk-heading-m">Your bank account details</h4>

            <div class="govuk-form-group">
              <label class="govuk-label" for="bank-account-name">Name of the account holder</label>
              <input class="govuk-input govuk-!-width-two-thirds" id="bank-account-name" name="bank-account-name" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="bank-account-number">Account number (numbers only)</label>
              <input class="govuk-input govuk-!-width-two-thirds" id="bank-account-number" name="bank-account-number" type="number">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="#">Sort code (numbers only)</label>
              <input class="govuk-input govuk-input--width-2" id="#" name="bank-sortcode-1" type="number" pattern="[0-9]*">
              <input class="govuk-input govuk-input--width-2" id="#" name="bank-sortcode-2" type="number" pattern="[0-9]*">
              <input class="govuk-input govuk-input--width-2" id="#" name="bank-sortcode-3" type="number" pattern="[0-9]*">
            </div>

            {% endset -%}

            {% set payByCheque %}

            <h2 class="govuk-heading-m">Where should we send the cheque?</h4>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Building and street
                <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                County
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
            </div>

            {% endset -%}

            {{ govukRadios({
              idPrefix: "payment-method-conditional",
              name: "payment-method",
              fieldset: {
                legend: {
                  text: "How would you prefer to be paid?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "Select one option then complete the relevant details."
              },
              items: [
                {
                  value: "pay-by-bank",
                  text: "Bank transfer",
                  conditional: {
                    html: payByBank
                  }
                },
                {
                  value: "pay-by-cheque",
                  text: "Cheque",
                  conditional: {
                    html: payByCheque
                  }
                }
              ]
            }) }}

          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
