// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// GDS colours: https://govuk-elements.herokuapp.com/colour/

.govuk-header__container {

  &.govuk-tslr-header {

    background-color: #003a69;
    border-color: #347ca9;

    .govuk-header__logo { display: none; }

    .govuk-header__content {
      width: 100%;
      a {
        padding-left: 15px; padding-right: 15px;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
      }
    }

  }

}

nav.tslr-contents-list {

  border-bottom: 1px solid #cccccc;

  h2,
  h2.govuk-heading-m {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }

  ul.govuk-list,
  ol.govuk-list {
    li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 21px;
    }
  }

}

nav.tslr-pagination {

  margin-top: 20px;
  border-top: 1px solid #cccccc;

  ul {
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        span {
          display: inline-block;
          &.arrow {
            display: inline-block;
            width: 20px;
            margin-right: 10px;
          }
          &.text {
            display: block;
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
          }
          &.label {
            display: block;
            margin-left: 30px;
            text-decoration: underline;
          }
        }
        &:visited { color: initial; }
        &:hover { color: rgb(0, 94, 165); }
      }
    }
  }

}

.govuk-tag {

  &.incomplete { background-color: #fdbe53; }

}

.app-task-list {

  ul.app-task-list__items { padding-left: 0; }

  .app-task-list__item {
    span.date-applied {
      display: inline-block;
      margin-left: 10px;
      color: grey;
      font-size: 16px;
      font-style: italic;
      text-decoration: none;
    }
  }

}

button.button-as-link {

   background: none !important;
   color: #005ea5;
   border: none;
   padding: 0 !important;
   font: inherit;
   cursor: pointer;
   text-decoration: underline;

   &:hover { color: #2b8cc4; }

}

table {

  th.govuk-table__header {

    &.col-1, &.col-2, &.col-3 { width: 33%; }
    &.col-3 { width: 34%; }

    .sub-heading {
      color: #666666;
      font-size: 16px;
    }

  }

  &.cols-4 {
    th.govuk-table__header {
      &.col-1, &.col-2, &.col-3, &.col-4 { width: 25%; }
    }
  }

  dl.release-desc {

    margin: 0;
    margin-bottom: 10px;

    dt {}
    dd {
      margin: 0 0 5px 0;
      font-size: 14px;
      color: #333333;
    }

  }

}
