// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

nav.tslr-contents-list {

  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;

  h2,
  h2.govuk-heading-m {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }

  ul.govuk-list,
  ol.govuk-list {
    li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 21px;
    }
  }

}

nav.tslr-pagination {

  margin-top: 20px;
  border-top: 1px solid #cccccc;

  ul {
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        span {
          display: inline-block;
          &.arrow {
            display: inline-block;
            width: 20px;
            margin-right: 10px;
          }
          &.text {
            display: block;
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
          }
          &.label {
            display: block;
            margin-left: 30px;
            text-decoration: underline;
          }
        }
        &:visited { color: initial; }
        &:hover { color: rgb(0, 94, 165); }
      }
    }
  }

}

.govuk-tag {

  &.incomplete { background-color: #fdbe53; }

}

.app-task-list {

  ul.app-task-list__items { padding-left: 0; }

  .app-task-list__item {
    span.date-applied {
      display: inline-block;
      margin-left: 10px;
      color: grey;
      font-size: 16px;
      font-style: italic;
      text-decoration: none;
    }
  }

}
