{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-s">Notification email</h1>

    </div>

    <div class="govuk-grid-column-two-thirds email-bg">

      <h2 class="govuk-heading-s">Subject</h2>
      <p class="govuk-body">Ref {{ data['claim-code'] or "1234567-1234" }}: We've got your application to claim back student loan payments</p>
      <h2 class="govuk-heading-s">Body</h2>
      <p class="govuk-body">Dear {name}</p>
      <p class="govuk-body">We've got your application to claim back your student loan payments.</p>
      <p class="govuk-body"><strong>What happens next</strong></p>
      <p class="govuk-body">We’ll contact your school or schools to confirm the details you gave us.</p>
      <p class="govuk-body">We’ll update you about your claim within {time period}.</p>
      <p class="govuk-body"><strong>Save your application</strong></p>
      <p class="govuk-body">You can <a href="#">save your application as a PDF</a>.</p>
      <p class="govuk-body"><strong>Contact us</strong></p>
      <p class="govuk-body">If you need to get in touch about your application <a href="#">contact us</a> with your reference number {{ data['claim-code'] }}.</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="admin-claim-received-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Notification email (Admin)</a>
        <a href="teacher-claim-eligible-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Outcome email (Eligible)</a>
        <a href="teacher-claim-ineligible-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Outcome email (Ineligible)</a>
      </p>

    </div>

  </div>

{% endblock %}
