{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-s">Application complete email: Ineligible</h1>

    </div>

    <div class="govuk-grid-column-two-thirds email-bg">

      <h2 class="govuk-heading-s">Subject</h2>
      <p class="govuk-body">Your application to claim back student loan payments has been unsuccessful</p>
      <h2 class="govuk-heading-s">Body</h2>
      <p class="govuk-body">Dear {{ data['applicant']['first_name'] | title }}</p>
      <p class="govuk-body">Your application to claim back your student loan payments was not successful. This is because you did not meet the following eligibility criteria:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>You have not taught in a school in one of the 25 areas that are taking part in the scheme.</li>
      </ul>
      <p class="govuk-body"><a href="#">See the eligibility crieria on GOV.UK</a>. You can appeal this decision by [process].</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="/" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Start again</a>
      </p>

    </div>

  </div>

{% endblock %}
