{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm teacher loan repayments</h1>
      <p class="govuk-body">Enter the total amount of student loans repaid by <strong>{{data['applicant']['first_name'] | ucFirst}} {{data['applicant']['last_name'] | ucFirst}}</strong> during the 2018/2019 tax year?</p>

      <form action="admin-declaration" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <span id="trn-hint" class="govuk-hint">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">How should I calculate the loan repayment information?</span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">TBC</p>
                </div>
              </details>
            </span>

            <div class="govuk-form-group">
              <label class="govuk-label" for="trn">For example, '1000' or ‘1000.00’.</label>
              <input class="govuk-input" id="trn" name="trn" type="number">
            </div>

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button">Continue</button>
            </div>

          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
