{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Get student loan payments reimbursed</h1>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <nav class="tslr-contents-list" role="navigation">
        <h2 class="govuk-heading-m">Contents</h2>
        <ul class="govuk-list">
          <li>&mdash; <a class="govuk-link" href="teacher-tslr">About this scheme</a></li>
          <li>&mdash; <a class="govuk-link" href="teacher-tslr-eligibility">Check if you’re eligible</a></li>
          <li>&mdash; Make a claim</li>
        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds col-top-padding">

      <h2 class="govuk-heading-l">Make a claim</h2>

      <h3 class="govuk-heading-m">Before you start</h3>
      <p class="govuk-body">You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your National insurance (NI) number</li>
        <li>your sign in details for ‘Verify’ (the government’s secure way of proving who you are)</li>
      </ul>
      <p class="govuk-body">If you do not have a Verify account, you will need your a valid passport or photocard driving licence to sign up.</p>

      <h3 class="govuk-heading-m">After you've claimed</h3>
      <p class="govuk-body">We will ask your school to confirm that you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>worked at the school in the last year</li>
        <li>taught one of the qualifying subjects for more than 50% of your time there</li>
      </ul>
      <p class="govuk-body">
        <a href="teacher-verify-intro" role="button" draggable="false" class="govuk-button govuk-button--start">Start now</a>
      </p>

      <h3 class="govuk-heading-m">Other ways to apply</h3>
      <p class="govuk-body">You can also apply by telephone: 0800 XXX XXX.</p>

      <nav class="tslr-pagination" role="navigation">
        <ul>
          <li class="prev">
            <a href="teacher-tslr-eligibility">
              <span class="text"><span class="arrow">⇠</span>Previous</span>
              <span class="label">Check if you’re eligible</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

{% endblock %}
