{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm teacher eligibility</h1>
      <p class="govuk-body-l">Details here about teacher</p>
      <a href="admin-declaration" role="button" draggable="false" class="govuk-button">Continue</a>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body attention">Needs to be completed.</p>

    </div>

  </div>

{% endblock %}
