{% extends "layout.html" %}

{% block pageTitle %}
  Verify (Enter TRN) :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education",
        href: "#"
      },
      {
        text: "Funding",
        href: "#"
      },
      {
        text: "Student loans",
        href: "#"
      },
      {
        text: "Teachers' student loan reimbursement",
        href: "#"
      },
      {
        text: "Application complete"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You have completed your application</h1>
      <p class="govuk-body">We will contact your school to confirm that you are eligible and how much you should be repaid.</p>
      <p class="govuk-body">Once we have completed that process, we will email you at your school email address with the outcome.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="teacher-application-complete-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Continue</a>
      </p>

    </div>

  </div>

  </div>

{% endblock %}
