{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Declaration</h1>
      <p class="govuk-body">By processing this application you agree that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information you've given is complete and correct as far as you know</li>
        <li>DfE will use this information to process the teacher's application</li>
      </ul>
      <p class="govuk-body">
        <a href="admin-confirmation" role="button" draggable="false" class="govuk-button">I agree &mdash; Process the application</a>
      </p>

    </div>

  </div>

{% endblock %}
