{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  {% set full_name = data.applicant.full_name or globals.smd.teacher.full_name %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if (data['check-error-no-teaching-subjects'] or data['check-error-no-teaching-proportion']) %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There's a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if (data['check-error-no-teaching-subjects']) %}
            <li><a href="#check-teaching-error-subjects">{{ data['error-message'] }}</a></li>
            {% endif %}
            {% if (data['check-error-no-teaching-proportion']) %}
            <li><a href="#check-teaching-error-proportion">{{ data['error-message'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form action="check-eligible" method="POST" role="form">
        <div class="govuk-form-group {% if (data['check-error-no-teaching-subjects']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                The subjects you've taught
              </h1>
            </legend>

            <div class="govuk-form-group">

              <p class="govuk-body">To make a claim, you must have been teaching one or more of these subjects:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>biology</li>
                <li>chemistry</li>
                <li>physics</li>
                <li>computer science</li>
                <li>languages (not including English)</li>
              </ul>
              <div class="govuk-form-group">
                <p class="govuk-body">Since 6 April 2018, have you taught one or more of these subjects at [school]?</p>
              </div>
              <span id="check-teaching-hint" class="govuk-hint">
                If you've been off on long-term leave or sick, include the time you were scheduled to teach these subjects.
              </span>

              <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                {% if (data['check-error-no-teaching-subjects']) %}
                <span id="check-teaching-error-subjects" class="govuk-error-message">{{ data['error-message'] }}</span>
                {% endif %}

                <div class="govuk-radios__item">
                  {% if data['check-teaching-subjects'] == "eligible" %}
                  <input class="govuk-radios__input" id="teaching-subjects-conditional-eligible" name="check-teaching-subjects" type="radio" value="eligible" data-aria-controls="conditional-teaching-subjects-conditional-eligible" checked>
                  {% else %}
                  <input class="govuk-radios__input" id="teaching-subjects-conditional-eligible" name="check-teaching-subjects" type="radio" value="eligible" data-aria-controls="conditional-teaching-subjects-conditional-eligible">
                  {% endif %}
                  <label class="govuk-label govuk-radios__label" for="teaching-subjects-conditional-eligible">Yes, for <strong>more</strong> than 50% of your teaching time</label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-teaching-subjects-conditional-eligible">
                  <div class="govuk-form-group {% if (data['check-error-no-teaching-proportion']) %}govuk-form-group--error{% endif %}">
                    {% if (data['check-error-no-teaching-proportion']) %}
                    <span id="check-teaching-error-proportion" class="govuk-error-message">{{ data['error-message'] }}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="govuk-radios__item">
                  {% if data['check-teaching-subjects'] == "ineligible-50" %}
                  <input class="govuk-radios__input" id="teaching-subjects-conditional-ineligible-50" name="check-teaching-subjects" type="radio" value="ineligible-50" data-aria-controls="conditional-teaching-subjects-conditional-ineligible" checked>
                  {% else %}
                  <input class="govuk-radios__input" id="teaching-subjects-conditional-ineligible-50" name="check-teaching-subjects" type="radio" value="ineligible-50" data-aria-controls="conditional-teaching-subjects-conditional-ineligible">
                  {% endif %}
                  <label class="govuk-label govuk-radios__label" for="teaching-subjects-conditional-ineligible-50">Yes, for <strong>less</strong> than 50% of your teaching time</label>
                </div>

                <div class="govuk-radios__item">
                  {% if data['check-teaching-subjects'] == "ineligible" %}
                  <input class="govuk-radios__input" id="teaching-subjects-conditional-ineligible" name="check-teaching-subjects" type="radio" value="ineligible" data-aria-controls="conditional-teaching-subjects-conditional-ineligible" checked>
                  {% else %}
                  <input class="govuk-radios__input" id="teaching-subjects-conditional-ineligible" name="check-teaching-subjects" type="radio" value="ineligible" data-aria-controls="conditional-teaching-subjects-conditional-ineligible">
                  {% endif %}
                  <label class="govuk-label govuk-radios__label" for="teaching-subjects-conditional-ineligible">No, you did not teach any of these subjects</label>
                </div>

              </div>

            </div>

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button">Continue</button>
            </div>

          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
