{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  {% set full_name = data.applicant.full_name or globals.smd.teacher.full_name %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="check-qts" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                You’re not eligible to claim student loan payments
              </h1>
            </legend>

            <div class="govuk-form-group">

              {% if (data['check-ineligible-reason'] == "qts") %}

              <p class="govuk-body">You must have qualified as a teacher after {{ globals.eligibility_criteria.qualified_date }}.</p>
              <p class="govuk-body"><a href="guidance">Go to gov.uk homepage</a></p>

              {% elseif (data['check-ineligible-reason'] == "school-location") %}

              <p class="govuk-body">You can only claim if your school is in an eligible area for this scheme.</p>
              <p class="govuk-body"><a href="guidance">Check what the eligible areas are</a></p>

              {% elseif (data['check-ineligible-reason'] == "school-phase") %}

              <p class="govuk-body">You can only claim if your school is a state-funded secondary or special school in England.</p>
              <p class="govuk-body"><a href="guidance">Check what the eligible areas are</a></p>

              {% elseif (data['check-ineligible-reason'] == "school-type") %}

              <p class="govuk-body">You can only claim if your school is a state-funded secondary or special school in England.</p>
              <p class="govuk-body"><a href="guidance">Check what the eligible areas are</a></p>

              {% elseif (data['check-ineligible-reason'] == "loan") %}

              <p class="govuk-body">You can only claim if student loan payments were taken from your teaching wages while you were at {{ data['check-ineligible-school-name'] }}.</p>
              <p class="govuk-body"><a href="guidance">Go to gov.uk homepage</a></p>

              {% elseif (data['check-ineligible-reason'] == "teaching" or data['check-ineligible-reason'] == "teaching-less" or data['check-ineligible-reason'] == "teaching-other") %}

              <p class="govuk-body">Since {{ globals.tax_year.start_date }} you must have taught one of these subjects, or a combination of subjects, for most of your teaching hours:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>biology</li>
                <li>chemistry</li>
                <li>physics</li>
                <li>computer science</li>
                <li>languages (not including English)</li>
              </ul>
              <p class="govuk-body"><a href="guidance">Go to gov.uk homepage</a></p>

              {% elseif (data['check-ineligible-reason'] == "still-teaching") %}

              <p class="govuk-body">You must be currently working in a school in the UK.</p>
              <p class="govuk-body"><a href="guidance">Go to gov.uk homepage</a></p>

              {% elseif (data['check-ineligible-reason'] == "teaching-phase") %}

              <p class="govuk-body">You must have spent most of your scheduled hours teaching people who are 11 to 16 years old.</p>
              <p class="govuk-body"><a href="guidance">Go to gov.uk homepage</a></p>

              {% endif %}

            </div>

          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
