{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if data['check-num-schools'] | int == 1 %}
      <h1 class="govuk-heading-xl">Is {{ data['check-school-name'] }} the only place you've taught at since 6 April 2018?</h1>
      {% else %}
      <h1 class="govuk-heading-xl">Are these the only places you've taught at since 6 April 2018?</h1>
      {% endif %}

      <form action="check-location" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            {# https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/140660#school-dashboard #}
            {% if data['check-num-schools'] | int > 1 %}
            <div class="govuk-form-group">
              <ul class="govuk-list govuk-list--bullet">
                {% for school in data['check-schools'] %}
                <li>{{ school.name or "{School name}" }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">

              <div class="govuk-radios__item">
                {% if data['teacher-school-confirm'] == "y" %}
                <input class="govuk-radios__input" id="school-confirm-conditional-y" name="check-school-confirm" type="radio" value="y" data-aria-controls="conditional-school-confirm-conditional-y" checked>
                {% else %}
                <input class="govuk-radios__input" id="school-confirm-conditional-y" name="check-school-confirm" type="radio" value="y" data-aria-controls="conditional-school-confirm-conditional-y">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="school-confirm-conditional-y">Yes</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school-confirm-conditional-n" name="check-school-confirm" type="radio" value="n" data-aria-controls="conditional-school-confirm-conditional-n">
                <label class="govuk-label govuk-radios__label" for="school-confirm-conditional-n">No, you've also taught at another school</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-school-confirm-conditional-n">
                <div class="govuk-form-group">
                  <h2 class="govuk-heading-m">Which other school have you taught at?</h2>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="check-another-school-name">Enter the school name</label>
                    <input class="govuk-input" id="check-another-school-name" name="check-another-school-name" type="text">
                  </div>
                </div>
              </div>

            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          {% if data['check-eligibility-review'] and data['teacher-school-confirm'] == "y" %}
          <button type="submit" class="govuk-button" formaction="check-eligibility-review">Update</button>
          {% else %}
          <button type="submit" class="govuk-button">Continue</button>
          {% endif %}
        </div>

      </form>

    </div>

  </div>

{% endblock %}
