{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  {% set full_name = data.applicant.full_name or globals.smd.teacher.full_name %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="check-qts" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                You’re not eligible to claim student loan payments
              </h1>
            </legend>

              {% if (data['check-ineligible-reason'] == "qts") %}

              <p class="govuk-body">You must have qualified as a teacher after 1 September 2012.</p>

              <a href="http://www.gov.uk">Go to gov.uk homepage</a>

              {% elseif (data['check-ineligible-reason'] == "school-location") %}

              <p class="govuk-body">The scheme is only running in some schools in some areas of England.</p>
              <p class="govuk-body">See [a list of participating areas].</p>

              <a href="http://www.gov.uk">Go to gov.uk homepage</a>

              {% elseif (data['check-ineligible-reason'] == "teaching-subjects") %}

              <p class="govuk-body">You must have taught one of these subjects, or a combination of subjects, for at least 50% of your teaching hours since 6 April 2018:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>biology</li>
                <li>chemistry</li>
                <li>physics</li>
                <li>computer science</li>
                <li>languages (not including English)</li>

              <a href="http://www.gov.uk">Go to gov.uk homepage</a>

              {% elseif (data['check-ineligible-reason'] == "teaching-subjects-50") %}

              <p class="govuk-body">You must have taught one of these subjects, or a combination of subjects, for at least 50% of your teaching hours since 6 April 2018:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>biology</li>
                <li>chemistry</li>
                <li>physics</li>
                <li>computer science</li>
                <li>languages (not including English)</li>

              <a href="http://www.gov.uk">Go to gov.uk homepage</a>

              {% endif %}

          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
