{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-l">Teachers' student loan reimbursement: guidance for teachers and schools</h1>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">Eligibility criteria, payment rates and how to apply.</p>

    </div>

    <div class="govuk-grid-column-full">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">
        Published 24 October 2017<br/>
        Last updated 27 September 2018 — <a href="#">see all updates</a><br/>
        From: <a href="/government/organisations/department-for-education"><strong>Department for Education</strong></a> and <a href="/government/organisations/national-college-for-teaching-and-leadership"><strong>National College for Teaching and Leadership</strong></a>.
      </p>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <nav class="tslr-contents-list" role="navigation">
        <h2 class="govuk-heading-m">Contents</h2>
        <ul class="govuk-list">
          <li>&mdash; <a class="govuk-link" href="#overview">Overview</a></li>
          <li>&mdash; <a class="govuk-link" href="#eligibility">Eligibility criteria</a></li>
          <li>&mdash; <a class="govuk-link" href="#payment">Payment rates</a></li>
          <li>&mdash; <a class="govuk-link" href="#apply">Apply for a student loan reimbursement</a></li>
          <li>&mdash; <a class="govuk-link" href="#contact">Contact</a></li>
        </ul>
      </nav>

      <hr class="govuk-section-break govuk-section-break--m">

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h2 id="overview" class="govuk-heading-l">Overview</h2>
      <p class="govuk-body">The teachers’ student loan reimbursement pilot aims to increase recruitment and retention of languages, physics, chemistry, biology and computer science teachers.</p>
      <p class="govuk-body">This guidance explains who can apply for a student loan reimbursement, payment rates and how to apply.</p>
      <p class="govuk-body">Applications for academic year 2018 to 2019 loan reimbursement open in September 2019.</p>
      <p class="govuk-body">Applications for academic year 2019 to 2020 loan reimbursement open in September 2020.</p>

      <h2 id="eligibility" class="govuk-heading-l">Eligibility criteria</h2>
      <p class="govuk-body">Teachers in years 1 to 5 of their careers must meet the employment and subject criteria to apply.</p>
      <h3 class="govuk-heading-m">Employment eligibility criteria</h3>
      <p class="govuk-body">This includes the length of service, location and type of school in which the teacher has taught. Teachers awarded qualified teacher status (QTS) in one of the following academic years can apply:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>2013 to 2014</li>
        <li>2014 to 2015</li>
        <li>2015 to 2016</li>
        <li>2016 to 2017</li>
        <li>2017 to 2018</li>
        <li>2018 to 2019</li>
        <li>2019 to 2020</li>
      </ul>
      <p class="govuk-body">Teachers will be eligible for reimbursements for up to 10 academic years following the year they received their QTS. This table shows which years eligible teachers can claim reimbursement for:</p>
      <p class="govuk-body">INSERT TABLE HERE</p>
      <p class="govuk-body">Teachers must be employed in a state-funded school in England in either a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>local-authority-maintained secondary school (including middle-deemed secondary)</li>
        <li>local-authority-maintained or non-maintained special school</li>
        <li>secondary phase academy/free school</li>
      </ul>
      <p class="govuk-body">The school must be in one of the 25 participating local authorities:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Barnsley</li>
        <li>Blackpool</li>
        <li>Bracknell Forest</li>
        <li>Bradford</li>
        <li>Cambridgeshire</li>
        <li>Derby</li>
        <li>Derbyshire</li>
        <li>Doncaster</li>
        <li>Halton</li>
        <li>Knowsley</li>
        <li>Luton</li>
        <li>Middlesbrough</li>
        <li>Norfolk</li>
        <li>North-east Lincolnshire</li>
        <li>North Yorkshire</li>
        <li>Northamptonshire</li>
        <li>Northumberland</li>
        <li>Oldham</li>
        <li>Peterborough</li>
        <li>Portsmouth</li>
        <li>Salford</li>
        <li>Sefton</li>
        <li>St Helens</li>
        <li>Stoke-on-Trent</li>
        <li>Suffolk</li>
      </ul>
      <p class="govuk-body">Teachers must have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>proof they are still working as a teacher</li>
        <li>proof of employment for the year they claim</li>
        <li>proof of the student loan payments in the form of payslips</li>
      </ul>
      <p class="govuk-body">Teachers employed in a private school or sixth-form college are not eligible for the student loan reimbursement.</p>
      <p class="govuk-body">Supply teachers are eligible if they meet all of the eligibility criteria. They must provide appropriate evidence to support this.</p>
      <h3 class="govuk-heading-m">Subject eligibility criteria</h3>
      <p class="govuk-body">Teachers must teach at least one of the eligible subjects.</p>
      <p class="govuk-body">Eligible subjects are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>languages</li>
        <li>physics</li>
        <li>chemistry</li>
        <li>biology</li>
        <li>computer science</li>
      </ul>
      <p class="govuk-body">Teachers must have spent at least 50% of their contracted hours teaching at least one of the eligible subjects during the year for which they are claiming. Schools must confirm this during the application process.</p>

      <h2 id="payment" class="govuk-heading-l">Payment rates</h2>
      <p class="govuk-body">The amount reimbursed is dependent upon salary, and consequently the amount of the student loan repaid to the Student Loans Company. We will reimburse teachers at the beginning of the academic year following a successful application.</p>
      <p class="govuk-body">To note: all academic years begin on 1 August and end on 31 July.</p>
      <p class="govuk-body">The reimbursement payments are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>not part of a teacher’s pay</li>
        <li>subject to income tax and National Insurance (NI); the Department for Education will pay this cost to HMRC, neither the teacher nor the school will need to pay income tax or NI contributions on the student loan reimbursements</li>
      </ul>
      <p class="govuk-body">Teachers do not need to declare the student loan reimbursement payments to the Student Loans Company.</p>

      <h2 id="apply" class="govuk-heading-l">Apply for a student loan reimbursement</h2>
      <p class="govuk-body callout">Applications for the academic year 2018 to 2019 open in September 2019. Applications for the academic year 2019 to 2020 open in September 2020. <a href="check-intro">Check your eligibility</a>.</p>
      <p class="govuk-body">Schools must confirm that the teacher meets all of the eligibility criteria and endorse the teacher’s application for a reimbursement.</p>

      <h2 id="contact" class="govuk-heading-l">Contact</h2>
      <p class="govuk-body">If you have any questions about teachers’ student loan reimbursement, please email us.</p>
      <p class="govuk-body">Financial incentives team</p>
      <p class="govuk-body">Email<br/>financial.incentives@education.gov.uk</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s">Published 24 October 2017<br/>
      Last updated 27 September 2018 + show all updates</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <h4 class="govuk-heading-s">Related content</h4>
      <h4><a href="#">Student loans</a></h4>
      <p class="govuk-body-s">Apply for student finance, contact details, login to your account. Advanced Learner Loans, postgraduate funding, repayment, loans for teachers.</p>
      <h4><a href="#">Teacher pay, pensions and conditions</a></h4>
      <p class="govuk-body-s">Salaries, pay scales, pay decision appeals, appraisals, performance-related pay progression. Golden Hello scheme, advice for free schools.</p>

    </div>

  </div>

{% endblock %}
