{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Teacher applications</h1>

      <p class="govuk-body">These teachers have applied to claim back their student loan payments for the 2018/2019 tax year.</p>

      <form action="admin-confirm-eligibility" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <div class="govuk-form-group">
              <ul class="app-task-list">
                <li>
                  <h2 class="app-task-list__section">To be processed</h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                      <a class="app-task-list__task-name" href="admin-confirm-eligibility/name/barbara-smith">Barbara Smith<span class="date-applied">Applied 16th Oct 2018</span></a>
                      <strong class="govuk-tag incomplete app-task-list__task-completed">To do</strong>
                    </li>
                    <li class="app-task-list__item">
                      <a class="app-task-list__task-name" href="admin-confirm-eligibility/name/david-powell">
                        David Powell<span class="date-applied">Applied 13th Oct 2018</span>
                      </a>
                      <strong class="govuk-tag incomplete app-task-list__task-completed">To do</strong>
                    </li>
                  </ul>
                </li>
                <li>
                  <h2 class="app-task-list__section">Completed applications</h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                      ID: TSLR-1024 <span class="date-applied">Processed 5th Oct 2018</span>
                      <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
                    </li>
                    <li class="app-task-list__item">
                      ID: TSLR-1007 <span class="date-applied">Processed 5th Oct 2018</span>
                      <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button">Continue</button>
            </div>

            <div class="govuk-form-group">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="#" class="govuk-link">Forgotten your password?</a></li>
                <li><a href="#" class="govuk-link">Register for DfE</a></li>
              </ul>
            </div>

          </fieldset>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
