{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your National Insurance (NI) number?</h1>

      <form action="teacher-consent" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="bank-hint">

            <span id="trn-hint" class="govuk-hint">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Where can I find my NI number?</span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">You can find your NI number on your National Insurance card, benefit letter, payslip or P60.</p>
                </div>
              </details>
            </span>

            <div class="govuk-form-group">
              <label class="govuk-label" for="trn">For example, ‘QQ 12 34 56 C’.</label>
              <input class="govuk-input" id="trn" name="trn" type="text">
            </div>

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button">Continue</button>
            </div>

          </fieldset>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
