{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="teacher-payment-method" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="teaching-hint">

            {{ govukCheckboxes({
            idPrefix: "consent",
            name: "consent",
            fieldset: {
              legend: {
                text: "Do you give your consent for us to contact HMRC?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {},
            items: [
              {
                value: "accept",
                text: "Tick the box to give consent for the Department for Education to contact HMRC to confirm how much student loan you have repaid and what schools you have taught at in the last tax year."
              }
            ]
            }) }}

          </fieldset>
        </div>

        <button type="submit" class="govuk-button">Continue</button>

      </form>

    </div>

  </div>

{% endblock %}
