{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Get student loan payments reimbursed</h1>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <nav class="tslr-contents-list" role="navigation">
        <h2 class="govuk-heading-m">Contents</h2>
        <ul class="govuk-list">
          <li>&mdash; <a class="govuk-link" href="teacher-tslr">About this scheme</a></li>
          <li>&mdash; Eligibility</li>
          <li>&mdash; <a class="govuk-link" href="teacher-tslr-apply">Apply</a></li>
        </ul>
      </nav>

      <h2 class="govuk-heading-l">Eligibility</h2>

      <p class="govuk-body">To apply, you must be in years 1 to 5 of your teaching career and fulfil all of the eligibility criteria below.</p>

      <h3 class="govuk-heading-m">Qualified teacher status</h3>
      <p class="govuk-body">You must have achieved qualified teacher status after 1st August 2013.</p>

      <h3 class="govuk-heading-m">Employment</h3>
      <p class="govuk-body">You should be employed in England, in one of the following state-funded schools:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>secondary school maintained by a local authority (including middle-deemed secondary)</li>
        <li>special school that is non-maintained or maintained by a local authority</li>
        <li>secondary phase academy / free school</li>
      </ul>
      <p class="govuk-body">Teachers in a private school or sixth-form college are not eligible.</p>

      <h3 class="govuk-heading-m">Participating local authorities</h3>
      <p class="govuk-body">Your school should be in one of these local authority areas:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Barnsley</li>
        <li>Blackpool</li>
        <li>Bracknell Forest</li>
        <li>Bradford</li>
        <li>Cambridgeshire</li>
        <li>Derby</li>
        <li>Derbyshire</li>
        <li>Doncaster</li>
        <li>Halton</li>
        <li>Knowsley</li>
        <li>Luton</li>
        <li>Middlesbrough</li>
        <li>Norfolk</li>
        <li>North-east Lincolnshire</li>
        <li>North Yorkshire</li>
        <li>Northamptonshire</li>
        <li>Northumberland</li>
        <li>Oldham</li>
        <li>Peterborough</li>
        <li>Portsmouth</li>
        <li>Salford</li>
        <li>Sefton</li>
        <li>St Helens</li>
        <li>Stoke-on-Trent</li>
        <li>Suffolk</li>
      </ul>

      <h3 class="govuk-heading-m">Subjects</h3>
      <p class="govuk-body">You must have taught at least one of the following subjects for a minimum of 50% of your contracted hours for the last tax year.</p>
      <p class="govuk-body">The eligible subjects are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>biology</li>
        <li>chemistry</li>
        <li>computer science</li>
        <li>languages (excluding english)</li>
        <li>physics</li>
      </ul>

      <nav class="tslr-pagination" role="navigation">
        <ul>
          <li class="prev">
            <a href="teacher-tslr">
              <span class="text"><span class="arrow">⇠</span>Previous</span>
              <span class="label">About this scheme</span>
            </a>
          </li>
          <li class="next">
            <a href="teacher-tslr-apply">
              <span class="text"><span class="arrow">⇢</span>Next</span>
              <span class="label">Apply</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

{% endblock %}
