{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="teacher-payment-method" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="teaching-hint">

            {{ govukCheckboxes({
            idPrefix: "consent",
            name: "consent",
            fieldset: {
              legend: {
                text: "Do you give your consent for us to contact HMRC?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {},
            items: [
              {
                value: "accept",
                text: "Tick the box to give consent for the Department for Education to contact your school to find out how much you paid in loan repayments last year."
              }
            ]
            }) }}

          </fieldset>
        </div>

        <button type="submit" class="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body attention">Is 'last year' correct here?</p>
      <p class="govuk-body attention">Is it 'us' and/or HMRC who needs consent?</p>

    </div>

  </div>

{% endblock %}
