{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: "Check teachers' claims for student loan repayments",
    containerClasses: "govuk-width-container govuk-tslr-header"
  }) }}
{% endblock %}

{% block beforeContent %}

  {% set claim_id = data['claim-id'] | int %}
  {% set array_ref = data['array-ref'] | int %}

  {% include "includes/phase-banner.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="admin-claims">All claims: {{ data['admin-claims-data']['school_name'] }}</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="admin-claim">{{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }}</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Confirm school eligibility</li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  {% set claim_id = data['claim-id'] | int %}
  {# Need to replace the below with proper JSON object access #}
  {% set array_ref = claim_id - 1 %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if (data['admin-error-no-location'] or data['admin-error-no-location-period']) %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There's a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if (data['admin-error-no-location']) %}
            <li><a href="#admin-location-error">{{ data['error-message'] }}</a></li>
            {% endif %}
            {% if (data['admin-error-no-location-start-date']) %}
            <li><a href="#admin-location-start-date-error">{{ data['error-message'] }}</a></li>
            {% endif %}
            {% if (data['admin-error-no-location-end-date']) %}
            <li><a href="#admin-location-end-date-error">{{ data['error-message-b'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form action="admin-claim" method="POST" role="form">
        <div class="govuk-form-group {% if (data['admin-error-no-location'] or data['admin-error-no-location-period']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Check school information
              </h1>
            </legend>
            <p class="govuk-body">Was <strong>{{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }}</strong> employed at {{ data['admin-claims-data']['school_name'] }} for any time between {{ globals.tax_year.start_date }} and {{ globals.tax_year.end_date }} (the last tax year)?</p>

            {% if (data['admin-error-no-location']) %}
            <span id="admin-location-error" class="govuk-error-message">{{ data['error-message'] }}</span>
            {% endif %}

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">

              <div class="govuk-radios__item">
                {% if data['admin-claims-data']['claims'][array_ref]['location']['verified'] == "yes" %}
                <input class="govuk-radios__input" id="eligibility-location-conditional-yes" name="admin-eligibility-location" type="radio" value="yes" data-aria-controls="conditional-eligibility-location-conditional-yes" checked>
                {% else %}
                <input class="govuk-radios__input" id="eligibility-location-conditional-yes" name="admin-eligibility-location" type="radio" value="yes" data-aria-controls="conditional-eligibility-location-conditional-yes">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="eligibility-location-conditional-yes">Yes, for the whole tax year</label>
              </div>

              <div class="govuk-radios__item">
                {% if data['admin-claims-data']['claims'][array_ref]['location']['verified'] == "yes-part" %}
                <input class="govuk-radios__input" id="eligibility-location-conditional-yes-part" name="admin-eligibility-location" type="radio" value="yes-part" data-aria-controls="conditional-eligibility-location-conditional-yes-part" checked>
                {% else %}
                <input class="govuk-radios__input" id="eligibility-location-conditional-yes-part" name="admin-eligibility-location" type="radio" value="yes-part" data-aria-controls="conditional-eligibility-location-conditional-yes-part">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="eligibility-location-conditional-yes-part">Yes, but only for part of the tax year</label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-eligibility-location-conditional-yes-part">

                <div class="govuk-form-group {% if (data['admin-error-no-location-start-date']) %}govuk-form-group--error{% endif %}">

                  {% if (data['admin-error-no-location-start-date']) %}
                  <span id="admin-location-start-date-error" class="govuk-error-message">{{ data['error-message'] }}</span>
                  {% endif %}

                  <span id="start-date-hint" class="govuk-hint">Start date</span>
                  <div class="govuk-date-input" id="start-date">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="admin-start-day">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (data['admin-error-no-location-start-date']) %}govuk-input--error{% endif %}" id="admin-start-day" name="admin-start-day" type="number" pattern="[0-9]*" value="{{ data['admin-claims-data']['claims'][array_ref]['eligibility-location-period']['start_day'] }}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="admin-start-month">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (data['admin-error-no-location-start-date']) %}govuk-input--error{% endif %}" id="admin-start-month" name="admin-start-month" type="number" pattern="[0-9]*" value="{{ data['admin-claims-data']['claims'][array_ref]['eligibility-location-period']['start_month'] }}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="admin-start-year">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if (data['admin-error-no-location-start-date']) %}govuk-input--error{% endif %}" id="admin-start-year" name="admin-start-year" type="number" pattern="[0-9]*" value="{{ data['admin-claims-data']['claims'][array_ref]['eligibility-location-period']['start_year'] }}">
                      </div>
                    </div>
                  </div>

                </div>

                <div class="govuk-form-group {% if (data['admin-error-no-location-end-date']) %}govuk-form-group--error{% endif %}">

                  {% if (data['admin-error-no-location-start-date']) %}
                  <span id="admin-location-end-date-error" class="govuk-error-message">{{ data['error-message-b'] }}</span>
                  {% endif %}

                  <span id="end-date-hint" class="govuk-hint">End date</span>
                  <div class="govuk-date-input" id="end-date">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="admin-end-day">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (data['admin-error-no-location-end-date']) %}govuk-input--error{% endif %}" id="admin-end-day" name="admin-end-day" type="number" pattern="[0-9]*" value="{{ data['admin-claims-data']['claims'][array_ref]['eligibility-location-period']['end_day'] }}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="admin-end-month">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (data['admin-error-no-location-end-date']) %}govuk-input--error{% endif %}" id="admin-end-month" name="admin-end-month" type="number" pattern="[0-9]*" value="{{ data['admin-claims-data']['claims'][array_ref]['eligibility-location-period']['end_month'] }}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="admin-end-year">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if (data['admin-error-no-location-end-date']) %}govuk-input--error{% endif %}" id="admin-end-year" name="admin-end-year" type="number" pattern="[0-9]*" value="{{ data['admin-claims-data']['claims'][array_ref]['eligibility-location-period']['end_year'] }}">
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="govuk-radios__item">
                {% if data['admin-claims-data']['claims'][array_ref]['location']['verified'] == "no" %}
                <input class="govuk-radios__input" id="eligibility-location-conditional-no" name="admin-eligibility-location" type="radio" value="no" data-aria-controls="conditional-eligibility-location-conditional-no" checked>
                {% else %}
                <input class="govuk-radios__input" id="eligibility-location-conditional-no" name="admin-eligibility-location" type="radio" value="no" data-aria-controls="conditional-eligibility-location-conditional-no">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="eligibility-location-conditional-no">No</label>
              </div>

            </div>

            <hr class="govuk-section-break govuk-section-break--m">

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button" name="update-location" value="update">Update</button>
              <p class="govuk-body">
                <button type="submit" class="button-as-link" name="update-location" value="cancel">Skip for now</button>
              </p>
            </div>

          </fieldset>
        </div>
      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="admin-claim-received-email" role="button" draggable="false" class="govuk-button hidden-button">Admin notification email</a>
      </p>

    </div>

  </div>

{% endblock %}
