{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-s">Notification email</h1>

    </div>

    <div class="govuk-grid-column-two-thirds email-bg">

      <h2 class="govuk-heading-s">Subject</h2>
      <p class="govuk-body">You've checked a claim for repayment of a student loan</p>
      <h2 class="govuk-heading-s">Body</h2>
      <p class="govuk-body">Dear {School admin name}</p>
      <p class="govuk-body">You have checked {{ data['applicant']['full_name'] | title }}'s claim to get their student loan payments back.</p>
      <p class="govuk-body"><strong>What happens next</strong></p>
      <p class="govuk-body">We’ll contact {{ data['applicant']['full_name'] | title }} within [time period] to update them about their claim.</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="teacher-claim-eligible-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Outcome email (Eligible)</a>
        <a href="teacher-claim-ineligible-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Outcome email (Ineligible)</a>
      </p>

    </div>

  </div>

{% endblock %}
