{% extends "layout.html" %}

{% block pageTitle %}
  Verify (Enter TRN) :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: "Check teachers' claims for student loan repayments",
    containerClasses: "govuk-width-container govuk-tslr-header"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

{% set array_ref = data['array-ref'] | int %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You’ve checked their details</h1>
      <p class="govuk-body">Thank you for checking details for {{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }} to claim back their student loan payments.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">We’ll contact {{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }} within {xx} days to update them about their claim.</p>
      <p class="govuk-body">
        <a href="admin-claims" role="button" draggable="false" class="govuk-button">Continue</a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="admin-process-complete-email" role="button" draggable="false" class="govuk-button hidden-button">Continue</a>
        <a href="admin-claim-received-email" role="button" draggable="false" class="govuk-button hidden-button">Back to email</a>
      </p>

    </div>

  </div>

  </div>

{% endblock %}
