{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: "Check teachers' claims for student loan repayments",
    containerClasses: "govuk-width-container govuk-tslr-header"
  }) }}
{% endblock %}

{% block beforeContent %}

  {% set claim_id = data['claim-id'] | int %}
  {# Need to replace the below with proper JSON object access #}
  {% set array_ref = claim_id - 1 %}

  {% include "includes/phase-banner.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="admin-claims">All claims: {{ data['admin-claims-data']['school_name'] }}</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="admin-claim">{{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }}</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Confirm teaching eligibility</li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  {% set claim_id = data['claim-id'] | int %}
  {# Need to replace the below with proper JSON object access #}
  {% set array_ref = claim_id - 1 %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if (data['admin-error-no-teaching'] or data['admin-error-no-teaching-proportion']) %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There's a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if (data['admin-error-no-teaching']) %}
            <li><a href="#admin-teaching-error">{{ data['error-message'] }}</a></li>
            {% endif %}
            {% if (data['admin-error-no-teaching-proportion']) %}
            <li><a href="#admin-teaching-proportion-error">{{ data['error-message'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form action="admin-claim" method="POST" role="form">
        <div class="govuk-form-group {% if (data['admin-error-no-teaching']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Check subject information
              </h1>
            </legend>

            <div class="govuk-form-group">
              <p class="govuk-body">Since {{ globals.tax_year.start_date }}, has <strong>{{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }}</strong> taught any of these subjects at {{ data['admin-claims-data']['school_name'] }}:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>biology</li>
                <li>chemistry</li>
                <li>computer science</li>
                <li>languages (not including english)</li>
                <li>physics</li>
              </ul>
            </div>

            <div class="govuk-form-group">

              {% if (data['admin-error-no-teaching']) %}
              <span id="admin-teaching-error" class="govuk-error-message">{{ data['error-message'] }}</span>
              {% endif %}

              <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                <div class="govuk-radios__item">
                  {% if data['admin-claims-data']['claims'][array_ref]['eligibility-teaching'] == "yes" %}
                  <input class="govuk-radios__input" id="admin-eligibility-teaching-y" name="admin-eligibility-teaching" type="radio" value="yes" data-aria-controls="conditional-admin-eligibility-teaching-y" checked>
                  {% else %}
                  <input class="govuk-radios__input" id="admin-eligibility-teaching-y" name="admin-eligibility-teaching" type="radio" value="yes" data-aria-controls="conditional-admin-eligibility-teaching-y">
                  {% endif %}
                  <label class="govuk-label govuk-radios__label" for="admin-eligibility-teaching-y">Yes, they've taught one or more of these subjects</label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-admin-eligibility-teaching-y">
                  <div class="govuk-form-group {% if (data['admin-error-no-teaching-proportion']) %}govuk-form-group--error{% endif %}">
                    {% if (data['admin-error-no-teaching-proportion']) %}
                    <span id="admin-teaching-proportion-error" class="govuk-error-message">{{ data['error-message'] }}</span>
                    {% endif %}
                    <fieldset class="govuk-fieldset" aria-describedby="teaching-proportion-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                          How much of their time at the school was spent teaching one or more of these subjects?
                        </h2>
                      </legend>
                      <span id="teaching-proportion-hint" class="govuk-hint">
                        If they were off on long-term leave or sick, include the time they were scheduled to teach.
                      </span>
                      <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                          {% if data['admin-claims-data']['claims'][array_ref]['eligibility-teaching-proportion'] == "more" %}
                          <input class="govuk-radios__input" id="teaching-proportion-more" name="teaching-proportion" type="radio" value="more" checked>
                          {% else %}
                          <input class="govuk-radios__input" id="teaching-proportion-more" name="teaching-proportion" type="radio" value="more">
                          {% endif %}
                          <label class="govuk-label govuk-radios__label" for="teaching-proportion-more">
                            More than 50% of their time
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          {% if data['admin-claims-data']['claims'][array_ref]['eligibility-teaching-proportion'] == "less" %}
                          <input class="govuk-radios__input" id="teaching-proportion-less" name="teaching-proportion" type="radio" value="less" checked>
                          {% else %}
                          <input class="govuk-radios__input" id="teaching-proportion-less" name="teaching-proportion" type="radio" value="less">
                          {% endif %}
                          <label class="govuk-label govuk-radios__label" for="teaching-proportion-less">
                            Less than 50% of their time
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  {% if data['admin-claims-data']['claims'][array_ref]['eligibility-teaching'] == "no" %}
                  <input class="govuk-radios__input" id="admin-eligibility-teaching-n" name="admin-eligibility-teaching" type="radio" value="no" data-aria-controls="conditional-admin-eligibility-teaching-n" checked>
                  {% else %}
                  <input class="govuk-radios__input" id="admin-eligibility-teaching-n" name="admin-eligibility-teaching" type="radio" value="no" data-aria-controls="conditional-admin-eligibility-teaching-n">
                  {% endif %}
                  <label class="govuk-label govuk-radios__label" for="admin-eligibility-teaching-n">No, they have not taught any of these subjects</label>
                </div>

              </div>

            </div>

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button" name="update-teaching" value="update">Update</button>
              <p class="govuk-body">
                <button type="submit" class="button-as-link" name="update-location" value="cancel">Cancel without updating</button>
              </p>
            </div>

          </fieldset>
        </div>
      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="admin-claim-received-email" role="button" draggable="false" class="govuk-button hidden-button">Admin notification email</a>
      </p>

    </div>

  </div>

{% endblock %}
