{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: "Confirm teachers' student loan reimbursement claims",
    containerClasses: "govuk-width-container govuk-tslr-header"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  {% set claim_id = data['claim-id'] | int %}
  {# Need to replace the below with proper JSON object access #}
  {% set array_ref = claim_id - 1 %}

  {% set details_complete = true %}
  {% set admin_start_date = true %}
  {% set admin_end_date = true %}

  {% if not data['admin-eligibility-period'] or data['admin-eligibility-period'] == "tbc" %}
  {{ "data.admin-eligibility-period is incomplete or tbc" | log }}
  {% set details_complete = false %}
  {% endif %}

  {% if data['admin-eligibility-period'] == "yes-part" %}
  {% if not data['admin-start-day'] or not data['admin-start-month'] or not data['admin-start-year'] %}
  {{ "data.admin-eligibility-period start dates are incomplete" | log }}
  {% set admin_start_date = false %}
  {% set details_complete = false %}
  {% endif %}
  {% endif %}

  {% if data['admin-eligibility-period'] == "yes-part" %}
  {% if not data['admin-end-day'] or not data['admin-end-month'] or not data['admin-end-year'] %}
  {{ "data.admin-eligibility-period end dates are incomplete" | log }}
  {% set admin_end_date = false %}
  {% set details_complete = false %}
  {% endif %}
  {% endif %}

  {% if not data['admin-eligibility-teaching'] or data['admin-eligibility-teaching'] == "tbc" %}
  {{ "data.admin-eligibility-teaching is incomplete or tbc" | log }}
  {% set details_complete = false %}
  {% endif %}

  {% if not data['admin-loan-amount'] or data['admin-loan-details'] == 'tbc' %}
  {{ "data.admin-loan-amount is incomplete or data.admin-loan-details is tbc" | log }}
  {% set details_complete = false %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Claim details</h1>

      <form action="admin-check-send" method="POST" role="form">
        <div class="govuk-form-group">

          <input id="admin-claim" name="admin-claim" type="hidden" value="true">

          <!-- only add a heading for a list if there is more than one list -->
          <h2 class="govuk-heading-m">Teacher details</h2>

          <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
          <!--   * `app-check-your-answers--short` for short questions -->
          <!--   * `app-check-your-answers__questions-long` for long questions -->
          <!--   * none for single group of q&a -->
          <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Teacher name</dt>
              <dd class="app-check-your-answers__answer">{{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }}</dd>
              <dd class="app-check-your-answers__change">&nbsp;</dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Teacher reference number (TRN)</dt>
              <dd class="app-check-your-answers__answer">{{ data['admin-claims-data']['claims'][array_ref]['trn'] }}</dd>
              <dd class="app-check-your-answers__change">&nbsp;</dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">School</dt>
              <dd class="app-check-your-answers__answer">{{ data['admin-claims-data']['school_name'] }}</dd>
              <dd class="app-check-your-answers__change">&nbsp;</dd>
            </div>

          </dl>

        </div>

        <div class="govuk-form-group">

          <h2 class="govuk-heading-m">Claim details for {{ data['admin-claims-data']['claims'][array_ref]['full_name'] | title }}</h2>

          <dl class="app-check-your-answers wider-titles full-width-titles-xxx app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Did they work at the school between {{ globals.tax_year.start_date }} and {{ globals.tax_year.end_date }}?</dt>
              {% if data['admin-eligibility-location'] == 'yes' %}
              <dd class="app-check-your-answers__answer">Yes</dd>
              {% elseif data['admin-eligibility-location'] == 'yes-part' %}
              <dd class="app-check-your-answers__answer">Yes, for part of the year<br/>
                {% if not admin_start_date %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['admin-start-day'] if data['admin-start-day'] else "dd" }}/{{ data['admin-start-month'] if data['admin-start-month'] else "mm"}}/{{ data['admin-start-year'] if data['admin-start-year'] else "yyyy" }}
                {% if not admin_start_date %}
                </span>
                {% endif %}
                -
                {% if not admin_end_date %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['admin-end-day'] if data['admin-end-day'] else "dd" }}/{{ data['admin-end-month'] if data['admin-end-month'] else "mm" }}/{{ data['admin-end-year'] if data['admin-end-year'] else "yyyy" }}
                {% if not admin_end_date %}
                </span>
                {% endif %}
              </dd>
              {% elseif data['admin-eligibility-location'] == 'no' %}
              <dd class="app-check-your-answers__answer">No</dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="admin-confirm-location-eligibility">Change<span class="govuk-visually-hidden"> school eligibility</span></button>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Did they teach biology, chemistry, physics, computer science or languages (not English)?</dt>
              {% if data['admin-eligibility-teaching'] == 'yes' %}
              <dd class="app-check-your-answers__answer">Yes</dd>
              {% elseif data['admin-eligibility-teaching'] == 'no' %}
              <dd class="app-check-your-answers__answer">No</dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="admin-confirm-teaching-eligibility">Change<span class="govuk-visually-hidden"> teaching eligibility</span></button>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">How much student loan did they repay between {{ globals.tax_year.start_date }} and {{ globals.tax_year.end_date }}?</dt>
              {% if data['admin-loan-amount'] %}
              <dd class="app-check-your-answers__answer">£{{ data['admin-loan-amount'] }}</dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="admin-confirm-repayment-amount">Change<span class="govuk-visually-hidden"> student loan amount</span></button>
              </dd>
            </div>

          </dl>

        </div>

      </form>

      <h2 class="govuk-heading-m">Confirm the claim</h2>
      <p>By clicking the button below you are confirming that, to the best of your knowledge, the details provided are correct.</p>
      <p class="govuk-body">
        {% if details_complete %}
        <a href="admin-confirmation" role="button" draggable="false" class="govuk-button">Confirm and send</a>
        {% else %}
        <a href="#" role="button" draggable="false" class="govuk-button disabled-button">Confirm and send</a>
        {% endif %}
      </p>

    </div>
  </div>
{% endblock %}
