{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Consent to us contacting your school</h1>
      <p class="govuk-body">To claim your student loan payments back we will contact the school you tell us about in this claim to confirm:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>that you taught there</li>
        <li>the subject you were employed to teach</li>
        <li>how much of your time was spent teaching that subject, if applicable</li>
        <li>that you spent most of your time teaching 11 to 16 year olds</li>
        <li>how much student loan you paid back while you were there</li>
      </ul>
      <p class="govuk-body">We cannot process your claim without doing this.</p>
      <p class="govuk-body">By making a claim you are confirming that you consent to us contacting the school.</p>
      <form action="teacher-enter-location-eligibility" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <button type="submit" class="govuk-button">Agree and continue</button>
          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
