{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if data['teacher-error-no-trn'] or data['teacher-error-trn-format'] or data['teacher-error-trn-length'] %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There's a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#enter-trn-error">{{ data['error-message'] }}</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}

      {% if data['skip-verify'] == "yes" %}
      <div class="govuk-inset-text">You have successfully confirmed your identity.</div>
      {% endif %}

      <form action="teacher-enter-trn" method="POST" role="form">
        <div class="govuk-form-group {% if data['teacher-error-no-trn'] or data['teacher-error-trn-format'] or data['teacher-error-trn-length'] %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="bank-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is your teacher reference number?
              </h1>
            </legend>

            <div class="govuk-form-group">
              <input class="govuk-input" id="skip-verify" name="skip-verify" type="hidden" value="no">
              <label class="govuk-label" for="teacher-trn">Teacher reference number</label>
              <span id="teacher-trn-hint" class="govuk-hint">This is on the certificate you got when you qualified as a teacher, or your school can tell you.</span>
              {% if data['teacher-error-no-trn'] or data['teacher-error-trn-format'] or data['teacher-error-trn-length'] %}
              <span id="enter-trn-error" class="govuk-error-message">{{ data['error-message'] }}</span>
              {% endif %}
              <input class="govuk-input govuk-input--width-10 {% if data['teacher-error-no-trn'] or data['teacher-error-trn-format'] or data['teacher-error-trn-length'] %}govuk-input--error{% endif %}" id="teacher-trn" name="teacher-trn" type="text" value="{{data['teacher-trn']}}">
            </div>

            <div class="govuk-form-group">
              {% if data['teacher-check-send'] %}
              <button type="submit" class="govuk-button" formaction="teacher-check-send">Update</button>
              {% else %}
              <button type="submit" class="govuk-button">Continue</button>
              {% endif %}
            </div>

          </fieldset>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
