{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Teachers: claim back student loan payments</h1>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <nav class="tslr-contents-list" role="navigation">
        <h2 class="govuk-heading-m">Contents</h2>
        <ul class="govuk-list">
          <li>&mdash; <a class="govuk-link" href="teacher-tslr">About this scheme</a></li>
          <li>&mdash; <a class="govuk-link" href="teacher-tslr-eligibility">Check if you’re eligible</a></li>
          <li>&mdash; Make a claim</li>
        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds col-top-padding">

      <h2 class="govuk-heading-l">Make a claim</h2>

      <h3 class="govuk-heading-m">Before you start</h3>
    <p class="govuk-body">You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the total amount of student loan repayments made through your school wages in the last tax year – you can find this on your payslips</li>
        <li>sign in details for ‘Verify’, the government’s secure way of proving who you are</li>
      </ul>
    <p class="govuk-body">If you do not have a Verify account, you will also need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your passport or photocard driving licence</li>
          <li>your teacher reference number – you can get this from your school, the certificate you got when you qualified as a teacher or from the <a href="https://www.gov.uk/guidance/individual-teacher-records-information-for-teachers#contact">teacher qualifications helpdesk</a></li>
          <li>your National Insurance number</li>
        </ul>
  <h3 class="govuk-heading-m">You've worked at more than one school</h3>
      <p class="govuk-body">If you've worked at more than one school since {{ globals.tax_year.start_date }}, apply for each school separately.</p>
      <form action="teacher-consent" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <button type="submit" class="govuk-button govuk-button--start">Start now</button>
          </fieldset>
        </div>
      </form>
      <h3 class="govuk-heading-m">Other ways to apply</h3>
      <p class="govuk-body">If you cannot apply online, you can [apply by post]. The address to send your application to is at the end of the form.</p>
      <nav class="tslr-pagination" role="navigation">
        <ul>
          <li class="prev">
            <a href="teacher-tslr-eligibility">
              <span class="text"><span class="arrow">⇠</span>Previous</span>
              <span class="label">Check if you’re eligible</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

{% endblock %}
