{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-s">Application complete email: Ineligible</h1>

    </div>

    <div class="govuk-grid-column-two-thirds email-bg">

      <h2 class="govuk-heading-s">Subject</h2>
      <p class="govuk-body">Ref {{ data['claim-code'] or "1234567-1234" }}: your claim to get student loan payments back was unsuccessful</p>
      <h2 class="govuk-heading-s">Body</h2>
      <p class="govuk-body">Dear {{ data['applicant']['first_name'] | title }}</p>
      <p class="govuk-body">Your claim to get student loan payments back was unsuccessful. This was because you did not meet the following eligibility criteria:</p>
      <p class="govuk-body">You have not taught in a school in one of the 25 areas that are taking part in the scheme.</p>
      <p class="govuk-body">The claim was for payments that were made through your wages at {{ data['admin-claims-data']['school_name'] }}, between {{ globals.tax_year.start_date }} and {{ globals.tax_year.end_date }}.</p>
      <p class="govuk-body"><a href="#">See the eligibility crieria on GOV.UK</a>.
      <p class="govuk-body">You can appeal this decision by [process].</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">The Student Loan Repayment team</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="/" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Start again</a>
      </p>

    </div>

  </div>

{% endblock %}
