{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-s">Application complete email: Eligible</h1>

    </div>

    <div class="govuk-grid-column-two-thirds email-bg">

      <h2 class="govuk-heading-s">Subject</h2>
      <p class="govuk-body">Ref {{ data['claim-code'] or "1234567-1234" }}: your claim to get student loan payments back was successful</p>
      <h2 class="govuk-heading-s">Body</h2>
      <p class="govuk-body">Dear {{ data['applicant']['first_name'] | title or "{first_name}" }}</p>
      <p class="govuk-body">Your claim to get your student loan payments back was successful. The claim was for payments that were made through your wages at {{ data['admin-claims-data']['school_name'] }} between {{ globals.tax_year.start_date }} and {{ globals.tax_year.end_date }}.</p>
      <p class="govuk-body">The payment of £{{ data['teacher-loan-amount'] or "654" }}.00 has been made and will take 3 to 5 working days to show in your account.</p>
      <p class="govuk-body">If you have any problems getting the payment, call us on 0800 123123.</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">Teachers' Student Loan Repayment team</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="/" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Start again</a>
      </p>

    </div>

  </div>

{% endblock %}
