{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  {% set full_name = data.applicant.full_name or globals.smd.teacher.full_name %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if (data['teacher-error-no-loan-amount']) %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There's a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if (data['teacher-error-no-loan-amount']) %}
            <li><a href="#teacher-loan-details-error">{{ data['error-message'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form action="teacher-payment-method" method="POST" role="form">
        <div class="govuk-form-group {% if (data['teacher-error-no-loan-amount']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Enter student loan repayment amount
              </h1>
            </legend>
            <p class="govuk-body">Enter the total amount of student loan repayments that were made through your wages while you were at {{ data['teacher-school']['name'] }} between 6 April 2018 and 5 April 2019.</p>

            <div class="govuk-form-group">
              <label class="govuk-label" for="teacher-loan-amount">Loan repayment amount</label>
              <span id="loan-amount-hint" class="govuk-hint">
                You can find this on your payslips.
              </span>
              {% if (data['teacher-error-no-loan-amount']) %}
              <span id="teacher-loan-details-error" class="govuk-error-message">{{ data['error-message'] }}</span>
              {% endif %}
              <input class="govuk-input {% if (data['teacher-error-no-loan-amount']) %}govuk-input--error{% endif %}" id="teacher-loan-amount" name="teacher-loan-amount" type="number" step="0.01" value="{{data['teacher-loan-amount']}}">
            </div>

            <div class="govuk-form-group">
              {% if data['teacher-check-send'] %}
              <button type="submit" class="govuk-button" formaction="teacher-check-send">Update</button>
              {% else %}
              <button type="submit" class="govuk-button">Continue</button>
              {% endif %}
            </div>

          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
