{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  {% set full_name = data.applicant.full_name or globals.smd.teacher.full_name %}

  {% set details_complete = true %}
  {% set teacher_bank_name = true %}
  {% set teacher_bank_number = true %}
  {% set teacher_bank_sortcode = true %}
  {% set teacher_email = true %}
  {% set teacher_mobile = true %}

  {% if not data['teacher-ni'] %}
  {{ "data.teacher-ni is incomplete" | log }}
  {% set details_complete = false %}
  {% endif %}

  {% if not data['teacher-trn'] %}
  {{ "data.teacher-trn is incomplete" | log }}
  {% set details_complete = false %}
  {% endif %}

  {% if not data['teacher-payment-method'] %}
  {{ "data.teacher-payment-method is incomplete" | log }}
  {% set details_complete = false %}
  {% endif %}

  {% if data['teacher-payment-method'] == "other" %}
    {% if not data['teacher-bank-account-name'] %}
      {{ "data.teacher-bank-account-name is incomplete" | log }}
      {% set details_complete = false %}
      {% set teacher_bank_name = false %}
    {% endif %}
    {% if not data['teacher-bank-account-number'] %}
      {{ "data.teacher-bank-account-number is incomplete" | log }}
      {% set details_complete = false %}
      {% set teacher_bank_number = false %}
    {% endif %}
    {% if not data['teacher-bank-sortcode-1'] or not data['teacher-bank-sortcode-2'] or not data['teacher-bank-sortcode-3'] %}
      {{ "data.teacher-bank-sortcode-x is incomplete" | log }}
      {% set details_complete = false %}
      {% set teacher_bank_sortcode = false %}
    {% endif %}
  {% endif %}

  {% if not data['teacher-contact-method'] %}
  {{ "data.teacher-contact-method is incomplete" | log }}
  {% set details_complete = false %}
  {% endif %}

  {% if data['teacher-contact-method'] == "email" and not data['teacher-email-address'] %}
  {{ "data.teacher-email-address is incomplete" | log }}
  {% set details_complete = false %}
  {% set teacher_email = false %}
  {% endif %}

  {% if data['teacher-contact-method'] == "mobile" and not data['teacher-mobile-number'] %}
  {{ "data.teacher-mobile-number is incomplete" | log }}
  {% set details_complete = false %}
  {% set teacher_mobile = false %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <form action="teacher-check-send" method="POST" role="form">
        <div class="govuk-form-group">

          <input id="teacher-check-send" name="teacher-check-send" type="hidden" value="true">

          <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
          <!--   * `app-check-your-answers--short` for short questions -->
          <!--   * `app-check-your-answers__questions-long` for long questions -->
          <!--   * none for single group of q&a -->
          <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Name</dt>
              <dd class="app-check-your-answers__answer">{{ full_name | title }}</dd>
              <dd class="app-check-your-answers__change">&nbsp;</dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">School</dt>
              <dd class="app-check-your-answers__answer">
                <ul class="govuk-list">
                {% for school in data['teacher-schools'] %}
                  <li>{{ school or "{School name}" }}</li>
                {% endfor %}
                </ul>
              </dd>
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="teacher-enter-location-confirm">Change<span class="govuk-visually-hidden"> school eligibility</span></button>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">National Insurance number</dt>
              {% if data['teacher-ni'] %}
              <dd class="app-check-your-answers__answer">{{ data['teacher-ni'] }}</dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="teacher-enter-ni-number">Change<span class="govuk-visually-hidden"> NI Number</span></button>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Teacher reference number</dt>
              {% if data['teacher-trn'] %}
              <dd class="app-check-your-answers__answer">{{ data['teacher-trn'] }}</dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="teacher-enter-trn">Change<span class="govuk-visually-hidden"> TRN</span></button>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">Bank account</dt>
              {% if data['teacher-payment-method'] == "existing" %}
              <dd class="app-check-your-answers__answer">Existing bank account</dd>
              {% elseif data['teacher-payment-method'] == "other" %}
              <dd class="app-check-your-answers__answer">Other bank account:<br/>
                Account name:
                {% if not teacher_bank_name %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['teacher-bank-account-name'] or "Incomplete" }}
                {% if not teacher_bank_name %}
                </span>
                {% endif %}
                <br/>
                Account number:
                {% if not teacher_bank_number %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['teacher-bank-account-number'] or "Incomplete" }}
                {% if not teacher_bank_number %}
                </span>
                {% endif %}
                <br/>
                Sort code:
                {% if not teacher_bank_sortcode %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['teacher-bank-sortcode-1'] or "XX" }}-{{ data['teacher-bank-sortcode-2'] or "XX" }}-{{ data['teacher-bank-sortcode-3'] or "XX" }}
                {% if not teacher_bank_sortcode %}
                </span>
                {% endif %}
              </dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="teacher-payment-method">Change<span class="govuk-visually-hidden"> payment method</span></button>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">We'll contact you by:</dt>
              {% if data['teacher-contact-method'] == "email" %}
              <dd class="app-check-your-answers__answer">By email:<br/>
                {% if not teacher_email %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['teacher-email-address'] or "Incomplete" }}
                {% if not teacher_email %}
                </span>
                {% endif %}
              </dd>
              {% elseif data['teacher-contact-method'] == "mobile" %}
              <dd class="app-check-your-answers__answer">By text message:<br/>
                {% if not teacher_mobile %}
                <span class="answer-incomplete">
                {% endif %}
                {{ data['teacher-mobile-number'] or "Incomplete" }}
                {% if not teacher_mobile %}
                </span>
                {% endif %}
              </dd>
              {% else %}
              <dd class="app-check-your-answers__answer answer-incomplete">Incomplete</dd>
              {% endif %}
              <dd class="app-check-your-answers__change">
                <button type="submit" class="button-as-link" formaction="teacher-contact-method">Change<span class="govuk-visually-hidden"> contact method</span></button>
              </dd>
            </div>

          </dl>

        </div>

      </form>

      <h2 class="govuk-heading-m">Confirm your claim</h2>
      <p>By submitting this claim you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <p class="govuk-body">
        {% if details_complete %}
        <a href="teacher-confirmation" role="button" draggable="false" class="govuk-button">Confirm and send</a>
        {% else %}
        <a href="#" role="button" draggable="false" class="govuk-button disabled-button">Confirm and send</a>
        {% endif %}
      </p>

    </div>
  </div>
{% endblock %}
