{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Teachers: claim back student loan payments</h1>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <nav class="tslr-contents-list" role="navigation">
        <h2 class="govuk-heading-m">Contents</h2>
        <ul class="govuk-list">
          <li>&mdash; About this scheme</li>
          <li>&mdash; <a class="govuk-link" href="teacher-tslr-eligibility">Check if you’re eligible</a></li>
          <li>&mdash; <a class="govuk-link" href="teacher-tslr-apply">Make a claim</a></li>
        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-two-thirds col-top-padding">

      <h2 class="govuk-heading-l">About this scheme</h2>

      <p class="govuk-body">From {{ globals.policy_criteria.start_date }}, teachers can claim back any student loan payments made through their wages between {{globals.tax_year.start_date}} and {{globals.tax_year.end_date}} (the last tax year).</p>
      <p class="govuk-body">The scheme is for teachers in certain subjects and is only running in certain areas of England – areas that have fewer teachers in these subjects at the moment.</p>
      <p class="govuk-body">The money you get back will be in one lump sum, and you will not have to pay tax or National Insurance on it.</p>

      <nav class="tslr-pagination" role="navigation">
        <ul>
          <li class="next">
            <a href="teacher-tslr-eligibility">
              <span class="text"><span class="arrow">⇢</span>Next</span>
              <span class="label">Check if you’re eligible</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

{% endblock %}
