{# Shared globals #}
{% set tax_year = { short: "18/19", full: "2018/19", start_date: "6 April 2018", end_date: "5 April 2019" } %}
{% set policy_criteria = { start_date: "1 September 2019", loan_thresholds: { minimum: 100, maximum: 500 } } %}
{% set eligibility_criteria = { qualified_date: "1 September 2012" } %}

{# Service Model A globals #}
{% set sm1 = 'tbc' %}

{# Service Model B globals #}
{% set sm2 = {
  teacher: {
    school_name: "Moorside High School",
    full_name: "Jane Jones",
    first_name: "Jane",
    last_name: "Jones"
  }
} %}

{# Service Model C globals #}
{% set sm3 = {
  teacher: {
    school_name: "Moorside High School",
    full_name: "Jane Jones",
    first_name: "Jane",
    last_name: "Jones"
  }
} %}

{# Service Model D globals #}
{% set smd = {
  teacher: {
    school_name: "Moorside High School",
    full_name: "Jane Jones",
    first_name: "Jane",
    last_name: "Jones"
  }
} %}

{# Service Model E globals #}
{# Moved to JSON #}
