{# Shared globals #}
{% set tax_year = { short: "18/19", full: "2018/19", start_date: "6 April 2018", end_date: "5 April 2019" } %}
{% set policy_criteria = { start_date: "1 September 2019" } %}
{% set eligibility_criteria = { qualified_date: "1 September 2012" } %}

{# Service Model A globals #}
{% set sm1 = 'tbc' %}

{# Service Model B globals #}
{% set sm2 = { teacher: { school_name: "Moorside High School", full_name: "Jane Jones", first_name: "Jane", last_name: "Jones" } } %}

{# Service Model C globals #}
{% set sm3 = { teacher: { school_name: "Moorside High School", full_name: "Jane Jones", first_name: "Jane", last_name: "Jones" } } %}

{# Service Model D globals #}
{% set smd = { teacher: { school_name: "Moorside High School", full_name: "Jane Jones", first_name: "Jane", last_name: "Jones" } } %}

{% set gias_data_test = [{la_code:873,est_name:"The Starship Children's Centre",est_type_code:47,phase_code:0},{la_code:380,est_name:"Abbey Green Nursery School & Children's Centre",est_type_code:47,phase_code:0},{la_code:806,est_name:"Abingdon Children's Centre",est_type_code:47,phase_code:0},{la_code:928,est_name:"Abington Library and Children's Centre",est_type_code:47,phase_code:0},{la_code:340,est_name:"Stockbridge Village (Acorn) SSCC",est_type_code:47,phase_code:0},{la_code:935,est_name:"Acorns Children's Centre",est_type_code:47,phase_code:0},{la_code:928,est_name:"Montagu Street Children's Centre",est_type_code:47,phase_code:0},{la_code:371,est_name:"Adwick Children's Centre",est_type_code:47,phase_code:0},{la_code:867,est_name:"Alders and Chestnuts Children's Centre",est_type_code:47,phase_code:0},{la_code:353,est_name:"Alexandra Children's Centre",est_type_code:47,phase_code:0}] %}
