{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{releaseVersion | log }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">TSLR Prototypes</h1>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Latest and archived prototypes</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Service Model A</th>
            <th class="govuk-table__header" scope="col">Service Model B</th>
            <th class="govuk-table__header" scope="col">Service Model C</th>
            <th class="govuk-table__header" scope="col">Service Model D</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" valign="top">
              <a href="/a/admin-start-email" class="govuk-link">A Latest</a>
            </td>
            <td class="govuk-table__cell" valign="top">
              <a href="/b/teacher-start-comms" class="govuk-link">B Latest (Teacher)</a><br/>
              <a href="/b/admin-application-received-email" class="govuk-link">B Latest (Admin)</a>
            </td>
            <td class="govuk-table__cell" valign="top">
              &nbsp;
            </td>
            <td class="govuk-table__cell" valign="top">
              &nbsp;
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" valign="top">
              <a href="/a/181018/admin-start-email" class="govuk-link">A 181018-pre-verify</a><br/>
              <a href="/a/181016/start-page" class="govuk-link">A 181016</a><br/>
              <a href="/a/181014/start-page" class="govuk-link">A 181012-pre-bc</a>
            </td>
            <td class="govuk-table__cell" valign="top">
              <a href="/b/181025/teacher-start-comms" class="govuk-link">B 181025</a><br/>
              <a href="/b/181024/teacher-start-comms" class="govuk-link">B 181024</a><br/>
            </td>
            <td class="govuk-table__cell" valign="top">
              None available
            </td>
            <td class="govuk-table__cell" valign="top">
              None available
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">About</h2>
      <p class="govuk-body">These prototypes should are in constant iteration during the Alpha phase of the project. The <strong>Latest</strong> version should always be stable and should be used in most scenarios, though regular date-versioned snapshots are archived for retrospective change comparison.</p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Feedback</h2>
      <p class="govuk-body">Any or all feedback is welcome. Raising questions or suggesting changes is the point of the prototypes!</p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="https://trello.com/c/5QOC8IOd/91-design-prototyping">General bugs/feedback (on Trello)</a></li>
        <li><a class="govuk-link" href="https://trello.com/c/a7bLyrqg/98-gds-design-system-review">GDS Design feedback (on Trello)</a></li>
        <li><a class="govuk-link" href="mailto:ben@hippodigital.co.uk?subject=Feedback about prototype">Email feedback (to Ben)</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
