
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{releaseVersion | log }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">TSLR Prototypes</h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Short overview here about usage of the prototypes?</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Teacher prototypes</h2>
      <h3 class="govuk-heading-s">Latest versions</h3>
      <ul class="govuk-list">
        <li>
          <a href="/a/start-page.html" class="govuk-link">Option A</a>
        </li>
        <li>
          <a href="/b/start-page.html" class="govuk-link">Option B</a>
        </li>
      </ul>
      <h3 class="govuk-heading-s">Previous versions</h3>
      <ul class="govuk-list">
        <li>
          <a href="#" class="govuk-link">Option B</a> (14/10/18) TBC
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Admin prototypes</h2>
    </div>
</div>

{% endblock %}
