{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-s">Notification email</h1>

    </div>

    <div class="govuk-grid-column-two-thirds email-bg">

      <h2 class="govuk-heading-s">Subject</h2>
      <p class="govuk-body">Teachers’ Student Loan Reimbursement: Claim received</p>
      <h2 class="govuk-heading-s">Body</h2>
      <p class="govuk-body">Dear {School admin name}</p>
      <p class="govuk-body">Jane Jones has applied to claim back their student loan payments.</p>
      <p class="govuk-body">To give them the money back, we need you to check what the teacher has told us about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the subject they taught</li>
        <li>how much of their time was spent teaching that subject</li>
      </ul>
      <p class="govuk-body"><a href="admin-dfe-signin_name_jane-jones">Confirm Jane Jones’s details</a></p>
      <p class="govuk-body">Please check this information before {date}. If you cannot, email {email}.</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Service name}</p>

    </div>

  </div>

{% endblock %}
