{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What's your National Insurance number?</h1>

      <form action="teacher-consent" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="bank-hint">

            <div class="govuk-form-group {% if (data['teacher-error-no-ni']) %}govuk-form-group--error{% endif %}">
              <label class="govuk-label" for="teacher-ni">National Insurance number</label>
              <span id="national-insurance-number-hint" class="govuk-hint">
                It's on your payslip, P60, National Insurance card or benefit letter. For example, ‘QQ 12 34 56 C’.
              </span>
              {% if (data['teacher-error-no-ni']) %}
              <span id="enter-ni-error" class="govuk-error-message">{{ data['error-message'] }}</span>
              {% endif %}
              <input class="govuk-input {% if (data['teacher-error-no-ni']) %}govuk-input--error{% endif %}" id="teacher-ni" name="teacher-ni" type="text" value="{{data['teacher-ni']}}">
            </div>

            <div class="govuk-form-group">
              {% if data['teacher-check-send'] %}
              <button type="submit" class="govuk-button" formaction="teacher-check-send">Update</button>
              {% else %}
              <button type="submit" class="govuk-button">Continue</button>
              {% endif %}
            </div>

          </fieldset>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
