{% extends "layout.html" %}

{% block pageTitle %}
  Bank details :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How would you like to be paid?</h1>

      <form action="teacher-contact-method" method="POST" role="form">
        <div class="govuk-form-group {% if (data['teacher-error-no-payment']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            {% if (data['teacher-error-payment-details']) %}
            <span id="teacher-payment-method-error" class="govuk-error-message">{{ data['error-message'] }}</span>
            {% endif %}

            <div class="govuk-form-group {% if (data['teacher-error-payment-details']) %}govuk-form-group--error{% endif %}">
              <h2 class="govuk-heading-m">Enter your account details</h2>
              <div class="govuk-form-group">
                <label class="govuk-label" for="bank-account-name">Name of account holder</label>
                <input class="govuk-input govuk-!-width-two-thirds {% if (data['teacher-error-payment-details-name']) %}govuk-input--error{% endif %}" id="teacher-bank-account-name" name="teacher-bank-account-name" type="text" value="{{data['teacher-bank-account-name']}}">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="bank-account-number">Account number</label>
                <input class="govuk-input govuk-!-width-two-thirds {% if (data['teacher-error-payment-details-number']) %}govuk-input--error{% endif %}" id="teacher-bank-account-number" name="teacher-bank-account-number" type="number" value="{{data['teacher-bank-account-number']}}">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="#">Sort code</label>
                <input class="govuk-input govuk-input--width-2 {% if (data['teacher-error-payment-details-sort1']) %}govuk-input--error{% endif %}" id="#" name="teacher-bank-sortcode-1" type="number" pattern="[0-9]*" value="{{data['teacher-bank-sortcode-1']}}">
                <input class="govuk-input govuk-input--width-2 {% if (data['teacher-error-payment-details-sort2']) %}govuk-input--error{% endif %}" id="#" name="teacher-bank-sortcode-2" type="number" pattern="[0-9]*" value="{{data['teacher-bank-sortcode-2']}}">
                <input class="govuk-input govuk-input--width-2 {% if (data['teacher-error-payment-details-sort3']) %}govuk-input--error{% endif %}" id="#" name="teacher-bank-sortcode-3" type="number" pattern="[0-9]*" value="{{data['teacher-bank-sortcode-3']}}">
              </div>
            </div>

          </fieldset>
        </div>

        {% if data['teacher-check-send'] %}
        <button type="submit" class="govuk-button" formaction="teacher-check-send">Update</button>
        {% else %}
        <button type="submit" class="govuk-button">Continue</button>
        {% endif %}

      </form>
    </div>
  </div>

{% endblock %}
