{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Where did you teach between {{ globals.tax_year.start_date }} and {{ globals.tax_year.end_date }}?</h1>

      <form action="teacher-enter-location-confirm" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="bank-hint">

            <input class="govuk-input" id="teacher-num-schools" name="teacher-num-schools" type="hidden" value="1">

            <span id="trn-hint" class="govuk-hint">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">What if I taught at more than one school?</span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">Get started by searching for your first school. You can add more schools later.</p>
                </div>
              </details>
            </span>

            <div class="govuk-form-group">
              <input class="govuk-input" id="teacher-schools-setup" name="teacher-schools-setup" type="hidden" value="true">
              <label class="govuk-label" for="teacher-school-name">Enter the school name or reference number</label>
              <input class="govuk-input" id="teacher-school-name" name="teacher-school-name" type="text">
            </div>

            <div class="govuk-form-group">
              <button type="submit" class="govuk-button">Continue</button>
            </div>

          </fieldset>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
