{% extends "layout.html" %}

{% block pageTitle %}
  Bank details :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How would you like to be paid?</h1>

      <form action="teacher-contact-method" method="POST" role="form">
        <div class="govuk-form-group {% if (data['teacher-error-no-payment']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <span id="teacher-payment-method-conditional-hint" class="govuk-hint">Select one option.</span>

            {% if (data['teacher-error-no-payment']) %}
            <span id="teacher-payment-method-error" class="govuk-error-message">{{ data['error-message'] }}</span>
            {% endif %}

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">

              <div class="govuk-radios__item">
                {% if data['teacher-payment-method'] == "existing" %}
                <input class="govuk-radios__input" id="payment-method-conditional-existing" name="teacher-payment-method" type="radio" value="existing" data-aria-controls="conditional-payment-method-conditional-existing" checked>
                {% else %}
                <input class="govuk-radios__input" id="payment-method-conditional-existing" name="teacher-payment-method" type="radio" value="existing" data-aria-controls="conditional-payment-method-conditional-existing">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="payment-method-conditional-existing">The bank account you receive your school pay into</label>
                <span id="payment-method-existing-hint" class="govuk-hint govuk-radios__hint">Optional hint here</span>
              </div>

              <div class="govuk-radios__item">
                {% if data['teacher-payment-method'] == "other" %}
                <input class="govuk-radios__input" id="payment-method-conditional-other" name="teacher-payment-method" type="radio" value="other" data-aria-controls="conditional-payment-method-conditional-other" checked>
                {% else %}
                <input class="govuk-radios__input" id="payment-method-conditional-other" name="teacher-payment-method" type="radio" value="other" data-aria-controls="conditional-payment-method-conditional-other">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="payment-method-conditional-other">A different bank account</label>
                <span id="payment-method-conditional-other-hint" class="govuk-hint govuk-radios__hint">Optional hint here</span>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-method-conditional-other">
                <div class="govuk-form-group">
                  <h2 class="govuk-heading-m">Enter bank account details</h2>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="bank-account-name">Name of the account holder</label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="teacher-bank-account-name" name="teacher-bank-account-name" type="text" value="{{data['teacher-bank-account-name']}}">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="bank-account-number">Account number</label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="teacher-bank-account-number" name="teacher-bank-account-number" type="number" value="{{data['teacher-bank-account-number']}}">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="#">Sort code</label>
                    <input class="govuk-input govuk-input--width-2" id="#" name="teacher-bank-sortcode-1" type="number" pattern="[0-9]*" value="{{data['teacher-bank-account-sortcode-1']}}">
                    <input class="govuk-input govuk-input--width-2" id="#" name="teacher-bank-sortcode-2" type="number" pattern="[0-9]*" value="{{data['teacher-bank-account-sortcode-2']}}">
                    <input class="govuk-input govuk-input--width-2" id="#" name="teacher-bank-sortcode-3" type="number" pattern="[0-9]*" value="{{data['teacher-bank-account-sortcode-3']}}">
                  </div>
                </div>
              </div>

            </div>

          </fieldset>
        </div>

        {% if data['teacher-check-send'] %}
        <button type="submit" class="govuk-button" formaction="teacher-check-send">Update</button>
        {% else %}
        <button type="submit" class="govuk-button">Continue</button>
        {% endif %}

      </form>
    </div>
  </div>

{% endblock %}
