{% extends "layout.html" %}

{% block pageTitle %}
  Bank details :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if (data['teacher-error-payment-details']) %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if (data['teacher-error-payment-details-name']) %}
            <li><a href="#enter-account-name-error">{{ data['error-message-account-name'] }}</a></li>
            {% endif %}
            {% if (data['teacher-error-payment-details-number']) %}
            <li><a href="#enter-account-number-error">{{ data['error-message-account-number'] }}</a></li>
            {% endif %}
            {% if (data['teacher-error-payment-details-sort1'] or data['teacher-error-payment-details-sort2'] or data['teacher-error-payment-details-sort3']) %}
            <li><a href="#enter-account-sortcode-error">{{ data['error-message-account-sortcode'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form action="teacher-contact-method" method="POST" role="form">
        <div class="govuk-form-group {% if (data['teacher-error-payment-details']) %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="tbc">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                How would you like to be paid?
              </h1>
            </legend>

            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Enter your account details</h2>
              <div class="govuk-form-group">
                <label class="govuk-label" for="bank-account-name">Name of account holder</label>
                {% if (data['teacher-error-payment-details-name']) %}
                <span id="enter-account-name-error" class="govuk-error-message">{{ data['error-message-account-name'] }}</span>
                {% endif %}
                <input class="govuk-input govuk-!-width-two-thirds {% if (data['teacher-error-payment-details-name']) %}govuk-input--error{% endif %}" id="teacher-bank-account-name" name="teacher-bank-account-name" type="text" value="{{data['teacher-bank-account-name']}}">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="bank-account-number">Account number</label>
                {% if (data['teacher-error-payment-details-number']) %}
                <span id="enter-account-number-error" class="govuk-error-message">{{ data['error-message-account-number'] }}</span>
                {% endif %}
                <input class="govuk-input govuk-!-width-two-thirds {% if (data['teacher-error-payment-details-number']) %}govuk-input--error{% endif %}" id="teacher-bank-account-number" name="teacher-bank-account-number" type="text" value="{{data['teacher-bank-account-number']}}">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="#">Sort code</label>
                {% if (data['teacher-error-payment-details-sort1'] or data['teacher-error-payment-details-sort2'] or data['teacher-error-payment-details-sort3']) %}
                <span id="enter-account-sortcode-error" class="govuk-error-message">{{ data['error-message-account-sortcode'] }}</span>
                {% endif %}
                <input class="govuk-input govuk-input--width-2 {% if (data['teacher-error-payment-details-sort1']) %}govuk-input--error{% endif %}" id="#" name="teacher-bank-sortcode-1" type="text" value="{{data['teacher-bank-sortcode-1']}}">
                <input class="govuk-input govuk-input--width-2 {% if (data['teacher-error-payment-details-sort2']) %}govuk-input--error{% endif %}" id="#" name="teacher-bank-sortcode-2" type="text" value="{{data['teacher-bank-sortcode-2']}}">
                <input class="govuk-input govuk-input--width-2 {% if (data['teacher-error-payment-details-sort3']) %}govuk-input--error{% endif %}" id="#" name="teacher-bank-sortcode-3" type="text" value="{{data['teacher-bank-sortcode-3']}}">
              </div>
            </div>

          </fieldset>
        </div>

        {% if data['teacher-check-send'] %}
        <button type="submit" class="govuk-button" formaction="teacher-check-send">Update</button>
        {% else %}
        <button type="submit" class="govuk-button">Continue</button>
        {% endif %}

      </form>
    </div>
  </div>

{% endblock %}
