{% extends "layout.html" %}

{% block pageTitle %}

  TSLR - Eligibility - Awarded QTS

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="about-you-trn.html">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="about-you-trn" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="name-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Full name
              </h1>
            </legend>

            <span id="trn-hint" class="govuk-hint">Include middle names.</span>

            <div class="govuk-form-group">
              <label class="govuk-label" for="fullname">
                Full name
              </label>
              <input class="govuk-input" id="fullname" name="fullname" type="text">
            </div>

          </fieldset>
        </div>
        <button class="govuk-button">Next</button>
      </form>
    </div>
  </div>

{% endblock %}
