{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email to school
      </h1>
      <p class="govuk-body-l">Continues Service Model A by informing school that teacher eligibility needs validating.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Notify school admin that further action is needed.</li>
      </ul>
      <p class="govuk-body">
        <a href="admin-dfe-signin" role="button" draggable="false" class="govuk-button govuk-button user-journey-button">Signin to validate teacher details</a>
      </p>

    </div>

  </div>

{% endblock %}
