{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email to school</h1>
      <p class="govuk-body-l">Initiates Service Model A by communicating the service to schools.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Tell admin to forward the email to eligible teachers.</li>
        <li>Tell teachers to update DQT with their email address because thats how we will invite them to the service.</li>
      </ul>
      <hr/>
      <h2 class="govuk-heading-m">Subject</h2>
      <p class="govuk-body">Do your teachers know about student loan reimbursement?</p>
      <h2 class="govuk-heading-m">Body</h2>
      <p class="govuk-body">Dear {name}</p>
      <p class="govuk-body">Teachers at your school may be eligible for the Teachers’ Student Loan Reimbursement (TSLR) scheme.</p>
      <p class="govuk-body">TSLR allows eligible teachers to claim a reimbursement for student loan payments for the preceding year. It aims to help schools in priority areas retain staff who are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>in years 1 to 5 of their career</li>
        <li>spending at least 50% of their time teaching languages (excluding English), science or computer science.
      </ul>
      <p class="govuk-body"><strong>Make sure your teachers know about the scheme</strong></p>
      <p class="govuk-body">Please forward this email to teachers at your school who may be eligible and ask them to update their school email address on the database of qualified teachers (DQT).</p>
      <p class="govuk-body">This is important because we’ll use DQT to find eligible teachers and invite them to apply for the scheme.</p>
      <p class="govuk-body">For more information, <a href="#">read about the TSLR scheme on GOV.UK </a>.
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>
      <hr/>
      <p class="govuk-body">
        <a href="teacher-start-email" role="button" draggable="false" class="govuk-button govuk-button user-journey-button">School admin sends emails</a>
      </p>

    </div>

</div>

{% endblock %}
