{% extends "layout.html" %}

{% block pageTitle %}

  Ineligible :: Teacher's Student Loan Reimbursement

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Education</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Funding</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Student loans</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="start-page.html">Teachers' student loan reimbursement</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Ineligible</li>
      </ol>
    </div>
  </div>

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">You're not eligible for student loan repayments</h1>
  <p class="govuk-body">This is because:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you don't work for a state-funded school</li>
    <li>you didn't spend at least 50% of your time teaching a priority subject</li>
  </ul>
  <p class="govuk-body">If you think this is a mistake, you can
    <a class="govuk-link" href="start-page.html">apply again</a>.
    We will ask the school you taught at to confirm what you tell us about your employment there.
  </p>

{% endblock %}
