{% extends "layout.html" %}

{% block pageTitle %}
TSLR - How it works
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="job-school.html">Back</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">[A] Claim back your teacher student loan payments</h1>

<aside class="part-navigation-container" role="complementary">
  <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
    <h2 class="govuk-heading-l">Contents</h2>
    <ol class="govuk-list govuk-list--number">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
      About this scheme
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
      <a class="govuk-link" href="eligibility.html">Eligibility</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
      <a class="govuk-link" href="how-to-apply.html">Apply</a>
      </li>
    </ol>
  </nav>
</aside>

<h1 class="govuk-heading-xl">About this scheme</h1>
<p class="govuk-body">The teacher’s student loan reimbursement scheme rewards teachers for teaching priority subjects
in eligible parts of England.</p>
<p class="govuk-body">If you are eligible, you can claim back loan repayments from the last year.</p>
<p class="govuk-body">You can make an application in September after the end of an academic year.</p>
<p class="govuk-body">Repayments are not classed as part of your pay. You will not have to pay tax
or National Insurance on them.</p>
<p class="govuk-body">We will ask the school you taught at to confirm what you tell us about your employment there. </p>

{% endblock %}
