{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email to teacher
      </h1>
      <p class="govuk-body-l">Initiates the teacher engaging with the system.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Informs teacher they should now apply.</li>
      </ul>
      <a href="teacher-start-page" role="button" class="govuk-link">Apply Now</a>

    </div>

    <div class="govuk-grid-column-one-third design-notes">

      <p class="govuk-body">Issues/Notes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>What about teachers who didn't/couldn't update DQT?</li>
      </ul>

    </div>

</div>

{% endblock %}
