{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email to teacher</h1>
      <hr/>
      <h2 class="govuk-heading-m">Subject</h2>
      <p class="govuk-body">Teachers’ Student Loan Reimbursement: verification code</p>
      <h2 class="govuk-heading-m">Body</h2>
      <p class="govuk-body">Dear {name}</p>
      <p class="govuk-body">Your verification code is <strong>{code}</strong>.</p>
      <p class="govuk-body"><a href="teacher-verify-enter-code">Return to your application and enter this code</a>.</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>
      <hr/>

    </div>

  </div>

{% endblock %}
