{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email to teacher
      </h1>
      <p class="govuk-body-l">Confirmation that they are accepted and the process is complete.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Confirm to teacher that they are eligible and have been validated.</li>
        <li>Confirm that payment will be made.</li>
      </ul>

    </div>

  </div>

{% endblock %}
