{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email to teacher</h1>
      <p class="govuk-body-l">Initiates the teacher engaging with the system.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Reminds teacher what the TSLR service is and that they are probably eligible.</li>
        <li>Provides teacher with a means by which they should now apply.</li>
      </ul>
      <hr/>
      <h2 class="govuk-heading-m">Subject</h2>
      <p class="govuk-body">Teachers’ Student Loan Reimbursement: apply now</p>
      <h2 class="govuk-heading-m">Body</h2>
      <p class="govuk-body">Dear {name}</p>
      <p class="govuk-body">We contacted you recently to say you may be eligible for the Teachers’ Student Loan Reimbursement (TSLR) scheme.</p>
      <p class="govuk-body">{Call out}</p>
      <p class="govuk-body">The scheme is now open, and you can <a href="#">apply online</a>.</p>
      <p class="govuk-body">{Call out ends}</p>
      <p class="govuk-body"><strong>About the scheme</strong></p>
      <p class="govuk-body">The teacher’s student loan reimbursement scheme rewards teachers for teaching languages (excluding English), science or computer science in eligible parts of England.</p>
      <p class="govuk-body">If you are eligible, you can claim back loan repayments from the last year.</p>
      <p class="govuk-body">You can make an application in September after the end of an academic year.</p>
      <p class="govuk-body">Repayments are not classed as part of your pay. You will not have to pay tax or National Insurance on them.</p>
      <p class="govuk-body"><strong>Deadline</strong></p>
      <p class="govuk-body">To claim a reimbursement of last year’s student loan payments, you will need to apply by {date}.</p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>
      <p class="govuk-body">You can <a href="#">read more about the TSLR scheme on GOV.UK </a>.</p>
      <hr/>
      <p class="govuk-body">
        <a href="teacher-start-page" role="button" draggable="false" class="govuk-button govuk-button user-journey-button">Apply Now</a>
      </p>

    </div>

</div>

{% endblock %}
