{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email to teacher
      </h1>
      <p class="govuk-body-l">Informs teacher that they are (probably?) eligible for TSLR and requests them to ensure their details are up to date in DQT.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Inform teacher that they are probably eligible for TSLR.</li>
        <li>Request that teacher ensures their email is up-to-date in the DQT.</li>
        <li>Inform teacher of what happens next.</li>
      </ul>
      <hr/>
      <h2 class="govuk-heading-m">Subject</h2>
      <p class="govuk-body">Student Loan Reimbursement: you may be eligible</p>
      <h2 class="govuk-heading-m">Body</h2>
      <p class="govuk-body">Dear {name}</p>
      <p class="govuk-body">The Department for Education thinks that you may be eligible for the Teacher’s Student Loan Reimbursement (TSLR) scheme.</p>
      <p class="govuk-body">TSLR allows eligible teachers to claim a reimbursement for student loan payments for the preceding year. It is a reward for staff who are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>working in state schools in specific parts of the country</li>
        <li>in years 1 to 5 of their career</li>
        <li>spending at least 50% of their time teaching languages (excluding English), science or computer science.</li>
      </ul>
      <p class="govuk-body"><strong>What you need to do now</strong></p>
      <p class="govuk-body">If you think you may be eligible, you need to make sure your details are up to date on the database of qualified teachers (DQT).</p>
      <p class="govuk-body"><strong>What happens next</strong></p>
      <p class="govuk-body">We will contact you shortly to tell you how to apply. We will use information from DQT to verify your application.</p>
      <p class="govuk-body">You can <a href="#">read more about the TSLR scheme on GOV.UK </a></p>
      <p class="govuk-body">Kind regards</p>
      <p class="govuk-body">{Signatory}</p>
      <hr/>
      <p class="govuk-body">
        <a href="teacher-dqt-email" role="button" draggable="false" class="govuk-button govuk-button user-journey-button">Teacher updates DQT</a>
      </p>

    </div>

</div>

{% endblock %}
