{% extends "layout.html" %}

{% block pageTitle %}
  Verify (Enter TRN) :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Thanks</h1>
      <p class="govuk-body-l">
        We've sent a code to your school email address. When you have received the email, follow the instructions in the email to return to this service and continue the process.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="teacher-code-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Continue</a>
      </p>

    </div>

  </div>

{% endblock %}
