{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email to teacher
      </h1>
      <p class="govuk-body-l">Informs teacher that they are (probably?) eligible for TSLR and requests them to ensure their details are up to date in DQT.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Inform teacher that they are probably eligible for TSLR.</li>
        <li>Request that teacher ensures their email is up-to-date in the DQT.</li>
        <li>Inform teacher of what happens next.</li>
      </ul>
      <p class="govuk-body">
        <a href="teacher-dqt-email" role="button" class="govuk-link">Teacher updates DQT</a>
      </p>

    </div>

</div>

{% endblock %}
