{% extends "layout.html" %}

{% block pageTitle %}

  Teachers' Student Loan Reimbursement

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Teachers' Student Loan Reimbursement</h1>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Start page. Could possibly skip straight to login/verify?</p>

    <a href="#" role="button" class="govuk-button govuk-button--start">Get started</a>

  </div>

{% endblock %}
