{% extends "layout.html" %}

{% block pageTitle %}
  Verify (Enter TRN) :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="teacher-verify-thanks" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="trn-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Continue your application
              </h1>
            </legend>

            <p class="govuk-body">To continue with your application for teacher's student loan reimbursement, enter the verification code we emailed you.</p>

            <span id="trn-hint" class="govuk-hint">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">I haven’t got a verification code</span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">You previously told us your Teacher Reference Number (TRN). To verify that number, we sent you a verification code to your school email address. If you didn’t receive the email or no longer have it, <a href="teacher-verify-enter-trn" class="govuk-link">enter your TRN again</a>.</p>
                </div>
              </details>
            </span>

            <div class="govuk-form-group">
              <label class="govuk-label" for="trn">Confirmation code</label>
              <input class="govuk-input" id="trn" name="conf-code" type="text">
            </div>

          </fieldset>
        </div>

        <button type="submit" class="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
