{% extends "layout.html" %}

{% block pageTitle %}
  Verify (Enter TRN) :: Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your school email</h1>
      <p class="govuk-body-l">
        We need to verify your Teacher Reference Number (TRN). We’ve sent a code to your school email address. Follow the link in that email to enter your code and verify your TRN.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body">
        <a href="teacher-code-email" role="button" draggable="false" class="govuk-button govuk-button hidden-button">Continue</a>
      </p>

    </div>

  </div>

{% endblock %}
