{% extends "layout.html" %}

{% block pageTitle %}
  Teachers' Student Loan Reimbursement
{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Thanks</h1>
      <p class="govuk-body-l">You have successfully verified your identity.</p>
      <a href="teacher-proportion" role="button" draggable="false" class="govuk-button govuk-button">Continue</a>

    </div>

  </div>

{% endblock %}
