{% extends "layout-email.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Email to teacher
      </h1>
      <p class="govuk-body-l">Informs teacher that they are (probably?) eligible for the and requests them to ensure their details are up to date in DQT.</p>
      <p class="govuk-body">Purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Inform teacher that they need to update their email in the DQT.</li>
      </ul>
      <a href="teacher-dqt-email" role="button" class="govuk-link">Teacher updates DQT</a>

    </div>

    <div class="govuk-grid-column-one-third design-notes">

      <p class="govuk-body">Issues/Notes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Is this same email supposed to both inform of eligibility AND suggest DQT update?</li>
      </ul>

    </div>

</div>

{% endblock %}
